[2013-05-03 16:38] samreid opened #1 "Provide a simple but flexible profiler utility"
For performing micro-optimizations, it would be useful to have a profiler API.  I'm suspect there are 3rd party libraries that could do this, but I recommend to add our own since that will be low overhead, well suited to our project and very flexible.  This could be very useful in optimizations such as https://github.com/phetsims/scenery/issues/32

[2013-05-30 03:54] samreid opened #2 "Simplify the inherit call"
Right now to use phet-core.inherit, one typically uses this pattern:

[code]

I was thinking about how backbone unifies the constructor with the function declarations, and realized we could do something like this without too much trouble:

[code]

I'm just brainstorming, but I think the main change would be to write inherit to use the constructor properly, and to return the value of the constructo

[2013-06-25 19:12] #1 closed, assigned to samreid

[2013-08-01 19:14] #2 closed, assigned to pixelzoom

[2013-09-16 20:51] pixelzoom opened #3 "pattern for filtering options"
I'm creating this issue here not because it's a problem with phet-core, but because it's a core issue that affects all sims. And while this discussion is about subtyping, it could also apply to composition.

We'd like to prevent subtype-specific options from being passed to supertype constructors. We've discussed a few different patterns for addressing this, and I wish we had enumerated them earli

[2013-12-20 20:14] pixelzoom opened #4 "remove 'experimental prototype' from the docs for inherit"
inherit.js mentions several times that it's an 'experimental inheritance prototype'. Well, we have a boatload of code that uses it now, so are we ready to drop 'experimental' and 'prototype'?

[2014-04-25 17:54] samreid opened #5 "Uncaught Error: Module name "PHET_CORE/cleanArray"..."
After pulling changes to Joist Timer that includes PHET_CORE?cleanArray, I am obtaining this error in all my apps (in requirejs mode).  Problem observed in Win8/Chrome34 and Win8/Firefox.

Uncaught Error: Module name "PHET_CORE/cleanArray" has not been loaded yet for context: _. Use require([])
http://requirejs.org/docs/errors.html#notloaded

This is a high priority to fix, since our sims do not r

[2014-04-25 19:34] #5 closed, assigned to nobody

[2014-04-30 20:13] samreid opened #6 "Instance should not be freed to pool twice"
Currently it is possible to free an instance to the pool twice, which could lead to disasterous results (since it could be popped from the pool twice and mutated by different clients).

Possible solutions:
1. Add a check to the pool to make sure an instance is not already in the pool (by iterating over the existing pool when an item is added to the pool)
2. Add a field to Poolable instances that i

[2014-05-05 15:46] samreid opened #7 "Maybe Array.push and Array.pop shouldn't be used for pooling if they allocate memory"
Maybe Array.push and Array.pop shouldn't be used for pooling if they allocate memory

[2014-06-24 03:41] samreid opened #8 "Simpler API for allocation tracking"
The current rules for allocation tracking are:

[code]

I think it would be simpler if we made the made the api more like:

[code]

If we cannot add ES5 get/set onto window, then functions could be used instead.

We should also provide reports by frequency (not by count) so that different runs can easily be compared.

[2014-06-30 15:49] jonathanolson opened #9 "Create abstraction for event/dt/step pattern"
We want an API that will be useful for handling variable-DT situations. Notably, we want to create particles according to accumulated DT (multiple per frame or none in one frame), have their elapsed time correctly spaced out, and be created at a specific rate.

In that case, once created, we would be able to track the full DT values afterwards for model steps.

[2014-07-24 18:34] jbphet opened #10 "Change to avoid redundant variables"
This pattern exists in several places, and is flagged by IntelliJ as a redundant variable.

[code]
This should be cleaned up.

[2014-09-15 16:46] pixelzoom opened #11 "global change of JSdoc for @param options"
This was decided at 9/9/14 (?) developer meeting, and it applies to all sims and common code.

The options parameter to constructors should be documented like this, to indicate that it's optional:

@param {Object} [options]

This can be done via a global string replace.

[2014-09-29 14:39] samreid opened #12 "IE detection is failing horribly"
I'd like to (temporarily?) skip using the webgl renderer on IE due to this problem:
https://github.com/phetsims/scenery/issues/285

However, platform.ie gives a false negative when running on IE11.  The user agent is reported as:
"Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; .NET4.0E; .NET4.0C; InfoPath.3; rv:11.0) like Gecko"

And the navigator.appName is:
"Netscape"

According to: http://sta

[2014-09-30 00:15] #12 closed, assigned to nobody

[2014-09-30 21:23] jonathanolson opened #13 "extend throws an error when any argument after the 1st has a non-owned property"
For example:

[code]

Since the new F instance doesn't have x as an own property (instead it's on the prototype chain one level down), it will fail with an error.

We should either filter these out (hasOwnProperty), or walk the prototype chain (getPrototypeOf with hasOwnProperty).

[2014-09-30 21:28] jonathanolson opened #14 "Mixin support and instanceof replacement with isInstanceOf() method"
Plan to investigate mixins of the style "inherit( [A, B], C, { ... } )", etc. Instead of using the parasitic prototype inheritance, we would switch to using something like extend() for moving things to the prototype.

We'll want to track the inheritance tree, and deduplicate mixins (like Event from Node and PropertySet) when needed. isInstanceOf() should return the expected values on any type crea

[2015-01-11 04:54] samreid opened #15 "Combine the power of console.table with phetAllocation.js?"
I was reading about console.table here:

http://blog.mitemitreski.com/2014/12/how-to-not-hate-java-script-tips-from.html?m=1

And it seemed like it made it convenient to make a sortable table in the console.  Thought it might integrate nicely with phetAllocation.js--perhaps worth investigation.  Not too high priority.

[2015-01-28 16:45] samreid opened #16 "Should PoolableMixin be lowercase and/or have a different name?"
PoolableMixin is a function, but not a constructor function to be used with new.  Hence wherever it is used, a jshint directive must be given to suppress a warning for it.  For example, in SVGBlock:

[code]

Discovered during:
https://github.com/phetsims/scenery/issues/366

Our standard convention is that files should be named as they would be used in code, so if this is just a function, perhaps i

[2015-01-28 23:30] jonathanolson commented on #16
Mixins describe a type/interface, like our other types do, however usually without an explicit constructor. Most languages generally capitalize mixins/traits the same way as classes/types, and for JS there are a number of references that capitalize it as I do (http://bob.yexley.net/dry-javascript-with-mixins/, http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript,

[2015-01-29 00:13] pixelzoom commented on #16
Sounds like a compromise we can live with. I also like the fact that it make the "mixing in" explicit.

[2015-01-29 19:51] samreid commented on #16
Sounds great, thanks!

[2015-01-31 19:07] jonathanolson commented on #16
Made the proposed mixin changes, reassigning in case you want to review.

[2015-01-31 21:10] samreid commented on #16
I just took a quick look at Poolable.js and some mixin sites, everything seemed good. Closing.

[2015-01-31 21:10] #16 closed

[2015-02-02 19:07] pixelzoom opened #17 "check for illegal global at runtime"
Suggested by @samreid in https://github.com/phetsims/tasks/issues/160, here are relevant comments from the issue.

@samreid

http://stackoverflow.com/questions/14063064/how-to-find-the-global-variables-used-in-my-javascript

@pixelzoom

@samreid

@pixelzoom

@samreid

[code]
where illegalGlobals is computed using the logic above together with our heuristics for what is allowed (such as window.phet

[2015-02-02 19:09] pixelzoom commented on #17
I see. The stack overflow example usage is:

[code]

So anything 'after' that isn't added under window.phet would be a runtime error?

[2015-02-04 05:02] samreid commented on #17
Well, I was suggesting an assertion error, but that's the right idea.  And I think we have a few exceptions to the global rules, but they may all be added before the `before`.

[2015-02-04 16:51] pixelzoom commented on #17
Sounds like a potentially useful thing to have. But I'm assuming low priority, so I'm going to unassign this. If anyone wants to work on it, feel free to self-assign.

[2015-02-05 19:45] jonathanolson opened #18 "Rename 'core' namespaces to 'phetCore'"

[2015-03-24 23:45] pixelzoom commented on #11
Fixed lots more of these, many of which have clearly been created recently.

**ATTENTION DEVELOPERS!** The correct JSdoc for options is `@param {Object} [options]`.

I'm going to close this issue, and we'll fix these as they continue to crop up.

[2015-03-24 23:45] #11 closed

[2015-03-24 23:48] pixelzoom commented on #4
Looks like "experimental" was removed at some point. Closing.

[2015-03-24 23:48] #4 closed

[2015-03-24 23:50] pixelzoom commented on #10
I see no evidence of this pattern in phew-core, looks like it was cleaned up. Closing.

[2015-03-24 23:50] #10 closed

[2015-03-25 00:00] pixelzoom commented on #18
There may be other sites, but here are the ones that I identified:

(1) Rename phet-core/js/core.js to phetCore.js

(2) Throughout phet-core .js files, change `var core = require( 'PHET_CORE/core' );` to `var phetCore = require( 'PHET_CORE/phetCore' );`

(3) Rename phet-core/tests/qunit/js/core-tests.js to phetCore-tests.js

(4) In core-tests.js, change `module( 'Phet-core' )` to `module( 'phetCor

[2015-03-25 20:20] jonathanolson commented on #18
I'll take care of this issue now.

[2015-03-25 20:50] jonathanolson commented on #18
Should be complete, please review or close.

[2015-03-25 20:58] pixelzoom commented on #18
Looks like you skipped this one, any reason?

[2015-03-25 20:59] pixelzoom commented on #18
@jonathanolson Looks like you skipped this one, any reason?

[2015-03-25 22:21] jonathanolson commented on #18
Ahh, it's been convention there to have the string repo name, but capitalized. Since there are no restrictions about dashes, I had it included. So for example, it's module( "Scenery: Color" ), not module( "scenery: Color" ).

I don't have a strong preference, but I'd like to make it consistent.

[2015-03-25 22:30] pixelzoom commented on #18
@jonathanolson wrote:

Ah yes, I see that elsewhere in your code, like in dot/tests/qunit/js/bounds2:

I'm curious about the "convention" aspect. Is this a qunit convention, or a @jonathanolson convention? Up to this point I've seen repos referred to either by their name (dot) or config.js path (DOT).  This adds a third name.  Seems like `module( 'dot.Bounds2' )` would be more aligned with how we

[2015-03-25 22:44] jonathanolson commented on #18
I'm not sure of the qunit convention, I guess it's mine. On unit test pages, documentation, etc. I generally call it "Scenery" not "scenery", so that was carrying over.

I'm not against lower-case naming here, but just want to note that it's just the title of the test block that is named, and it's more general like:
[code]
or
[code]
which show up as:
![scenery-unit-tests](https://cloud.githubuserc

[2015-03-25 22:53] pixelzoom commented on #18
Let's just leave it "as is" for now, discuss it again (or not) if/when we get serious about quit test coverage for more repos.

Closing.

[2015-03-25 22:53] #18 closed

[2015-05-03 02:29] samreid opened #19 "Delete profiler.js"
AFAK it is unused.  Can we delete it @jbphet @pixelzoom @jonathanolson ?

[2015-05-03 02:29] samreid commented on #19
Also the entry from main.js should be removed.

[2015-05-03 18:59] pixelzoom commented on #19
I'm not using it.

[2015-05-03 21:26] jonathanolson commented on #19
I'm not using it.

[2015-05-04 16:27] pixelzoom commented on #19
If @jbphet is not using this, then I'll handle deleting it.

[2015-05-04 16:27] pixelzoom commented on #19
Assigning to @jbphet to weigh in.

[2015-05-04 16:31] jbphet commented on #19
I'm not using it.

[2015-05-04 22:09] #19 closed

[2015-06-15 21:18] jonathanolson opened #20 "Bad platform detection for IE Edge"
It looks like unit tests in https://github.com/phetsims/tasks/issues/98#issuecomment-112210664 are trying to be run on IE when they are supposed to be FF/Chromium only:
[code]

We'll want to re-examine the platform detection here.

[2015-06-15 21:24] jonathanolson commented on #20
According to https://msdn.microsoft.com/en-us/library/hh869301(v=vs.85).aspx, the user-agent will be like:

Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36 Edge/12.0

[2015-06-15 21:37] jonathanolson commented on #20
This is relevant for:
Build a Molecule (.cur vs .png for cursors, will need to test)
Joist (check IE11/Edge compatibility for full-screen)
Scenery (pixel-comparison tests)

[2015-06-15 21:48] jonathanolson commented on #20
We should check for navigator.appName also.

[2015-06-16 17:00] pixelzoom commented on #20
@jonathanolson Can you summarize here for those of us who are interested in how to detect Edge? I looked at the commit, and it's not obvious (to me anyway) what you ended up doing.

[2015-06-18 05:03] jonathanolson commented on #20
Still just looking at the user-agent, detection of "Edge/" is used, and it won't report as platform.chromium anymore. I checked through recent browsers to make sure each one only returned true for its specific platform/version.

Also, Edge returns "Netscape" for navigator.appName. So, yeah.

Let me know if I should add documentation.

[2015-06-18 13:41] pixelzoom commented on #20
Yeah, documentation (similar to what you said in the preceding comment) would be probably be a good idea.

[2015-06-23 06:39] jonathanolson commented on #20
Let me know if this is sufficient.

[2015-06-23 17:42] #20 closed

[2015-08-31 19:21] pixelzoom opened #21 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-10-13 17:37] jonathanolson opened #22 "Cache platform.js values"
Right now, access to these are recomputed every time. This is used in Scenery inner loops, and should be cached (or just computed on startup).

[2015-10-27 17:39] jonathanolson commented on #22
Changed to values computed on startup.

[2015-10-27 17:39] #22 closed

[2015-10-30 19:58] pixelzoom commented on #21
Currently, the only files that need annotations are EventTimer.js and (maybe) Poolable.js.

[2015-10-31 03:44] jonathanolson commented on #21
Added annotations to EventTimer.js and Poolable.js. Anything else remaining?

[2015-10-31 14:54] #21 closed

[2015-11-03 17:56] samreid opened #23 "Investigate ES6 inheritance, modules, etc."
From Tuesday, November 3 Developer Meeting notes, we decided to look into the ES6 features with an eye to how it relates to our current strategies and migration path.  In particular, modules and inheritance should be looked at, so that we can understand differences between our strategy and the ES6 strategy.  Will we get to a point where we are using both?  Update all our old code to use ES6 only?

[2015-11-05 22:19] pixelzoom commented on #23
We need to understand both differences and *compatibility* with our current strategies.

[2015-11-05 22:21] pixelzoom commented on #3
I'm going to close this issue, since we seem to be doing OK with option (4) (single options parameter). If we need to revisit in the future, we can reopen.

[2015-11-05 22:21] #3 closed

[2016-07-20 04:55] samreid opened #24 "inherit confuses instanceof"
Starting in https://github.com/phetsims/phet-io/issues/489#issuecomment-233836472 and for the new few comments the following problem was described (test can replace the bottom part of DielectricMaterial.js in CLB):

[code]

Note that
[code]
is true before inherit then false after inherit.

Does this mean any of the following?
a) We have a bug in our inherit implementation?
b) We must create static

[2016-07-20 05:20] pixelzoom commented on #24
I don't understand the above example. Presumably DielectricMaterial.js defines the constructor and already calls inherit.  Why would you call inherit again? And why would you expect it to work if you did? Messing with the constructor property (line 50 in inherit.js) is certainly going to cause instanceof to fail for existing instances -- which is what you're seeing.

[2016-07-20 05:25] pixelzoom commented on #24
Here's a simpler example, where lines 21-23 are what you're doing by calling inherit a second time:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof

[2016-07-20 05:31] samreid commented on #24
To run this test:

1) copy and paste this into DielectricMaterial.js

[code]
2. Launch http://localhost/capacitor-lab-basics/capacitor-lab-basics_en.html?ea&brand=phet
3. Notice that it prints out true, false, true.

[2016-07-20 05:32] pixelzoom commented on #24
And that's what I would expect.  If you call `inherit` after creating instances, the instanceof test will fail for those instances, because you've changed the constructor's prototype property.

[2016-07-20 05:34] samreid commented on #24
So is DielectricMaterial.js (as it is checked in to master right now, and I will reproduce the critical bits below) an example of an antipattern because it creates instances incompatible with instanceof?

[code]

If this is truly an antipattern, are we using it elsewhere in our codebase?  What is the correct alternative?

[2016-07-20 05:36] pixelzoom commented on #24
I would expect `Dielectric.AIR instanceof Dielectric` to return `false` in the current implementation. And yes, if you need instanceof to work properly, then this is an antipattern.

[2016-07-20 05:37] samreid commented on #24
Beer's Law Lab's Solute.js shows one way to assign a static after the inherit call (this is the workaround in my tests above:

[code]

[2016-07-20 05:38] pixelzoom commented on #24
I think what's done in beer-law-lab.Solute is a fine way to create static instances. I don't view this as a workaround.

[2016-07-20 05:39] samreid commented on #24
Generally, `instanceof` has served our project well and we should endeavor to keep it working properly.  Is there an inexpensive way to detect occurrences of where an instance of type T is instantiated before the inherit call (including but not limited to: as a parameter in the static part of the inherit call)?

[2016-07-20 05:44] samreid commented on #24
In DielectricMaterial.js, I've applied the Solute-like solution in the above commit.

[2016-07-20 05:44] pixelzoom commented on #24
Write a bash script to iterate over all .js files in all repos, and and checks for occurrences of "new T", where T is the basename of the file.

[2016-07-20 05:45] pixelzoom commented on #24
Write a bash script to iterate over all .js files in all repos, and and check for occurrences of "new T", where T is the basename of the file.  Then manually inspect all such occurrences.

[2016-07-20 05:48] samreid commented on #24
Good idea, I can take a look at that in the future.  Reassigned to me and removing developer-meeting label for now.  I may add the label back if I'm seeing many occurrences of this antipattern and it requires further discussion.

[2016-07-20 05:48] samreid commented on #24
The high-priority label is to remind me to look at this soon, while it is fresh in our minds, and because this shouldn't take too long.

[2016-07-20 06:02] samreid commented on #24
Note to self: we may be able to detect the most likely form of the anti pattern by adding an assertion to inherit.

[2016-07-20 06:04] pixelzoom commented on #24
This script will identify calls to 'new T' inside file T.js:

[code]

[2016-07-20 06:11] pixelzoom commented on #24
Also worth pointing out that the name of `DieletricMaterial.CustomDielectricMaterial` is misleading, it looks like a constructor since it begins with uppercase, when in fact it's a factory function. This anti-pattern appears throughout CLB. Reported in https://github.com/phetsims/capacitor-lab-basics/issues/123.

[2016-07-20 06:15] pixelzoom commented on #24
Using the script in https://github.com/phetsims/phet-core/issues/24#issuecomment-233845939, the only problem I identified is `bending-light.Substance`.

[2016-07-20 06:16] pixelzoom commented on #24
Using the script in #24 (comment), the only problem I identified is in bending-light.Substance:

[code]

[2016-07-20 06:20] pixelzoom commented on #24
Here's a refinement to the script in https://github.com/phetsims/phet-core/issues/24#issuecomment-233845939...

Change these lines:

[code]

To this:

[code]

By adding ': ' before the `new` call, we're looking for static instances.

[2016-07-20 06:21] pixelzoom commented on #24
With the above modification, here's the script output:

[code]

[2016-07-20 06:23] pixelzoom commented on #24
masses-and-springs.Body is also a problem.

[2016-07-21 13:34] pixelzoom commented on #24
Labeling for developer-meeting, so that all developers are aware of this anti-pattern.

[2016-07-21 17:53] pixelzoom commented on #24
So to summarize... The 2 problems are masses-and-springs.Body and bending-light.Substance.

Decided to leave this on developer-meeting until next week, to review with developers who weren't at 7/21/16 meeting.

[2016-07-21 18:28] pixelzoom commented on #24
Issues have been created for specific problems in sims.  So this issue can be closed after we review it at next developer meeting.

[2016-07-21 18:55] pixelzoom commented on #24
@jessegreenberg @mattpen We discussed this at 7/21/16, and @ariel-phet requested to keep this open until you've had a chance to familiarize yourself with this issue.

In summary:

The problem: A type is not fully defined until inherit is called. If you create instances of a type before calling inherit, those instances will fail an `instanceof` test.

The solution: Create instances only after `inhe

[2016-07-25 18:03] jessegreenberg commented on #24
Understood, thanks for leaving this open to review.  I observed the issue by reproducing via https://github.com/phetsims/phet-core/issues/24#issuecomment-233842010, this makes sense.

Assigning to @mattpen.

[2016-07-27 16:32] mattpen commented on #24
I have reviewed and understood the issue.  Thanks for the detailed explanation.

[2016-07-27 16:32] #24 closed

[2016-08-19 19:27] samreid opened #25 "Should inherit be global?"
From https://github.com/phetsims/sherpa/issues/65

@pixelzoom said:

@jonathanolson replied:

[2016-08-19 19:27] samreid commented on #25
Yes, good point.  It seems odd to have a different pattern for doing inherit vs extend.

[2016-08-25 18:59] samreid commented on #25
Consensus: it is easy to keep requiring it. We all have it in our templates, etc.  We'd rather not refer to it as `phet.phetCore.inherit`.

[2017-02-02 04:46] jonathanolson commented on #9
Added above mentioned clarifications and notes, along with graphical representations of the example (hopefully visually explaining):

![screen shot 2017-02-01 at 10 41 02 pm](https://cloud.githubusercontent.com/assets/480878/22537365/9d235dbe-e8cf-11e6-991f-5278c603aec2.png)

@pixelzoom, can you review again? If one pass through the documentation is insufficient for understanding, it would help to

[2017-02-03 16:57] pixelzoom commented on #9
I reviewed the documentation, corrected a couple of minor typos.  Looks good to me.  But as I mentioned in https://github.com/phetsims/phet-core/issues/9#issuecomment-67989401:

And that's still the case. I've never used EventTimer, so I wasn't able to review the documentation for accuracy/completeness, or determine whether it is useful in practice.  So I'd recommend having another developer revie

[2017-02-10 04:22] samreid commented on #9
I count 5 occurrences in Color Vision, 2 in Fluid Pressure and Flow (unpublished flow screen), 2 in Gravity and Orbits and 2 in Sugar and Salt Solutions (unpublished).

It is unclear why this is used in Gravity and Orbits.  @jessegreenberg can you help me understand?

The usage is currently like so:

[code]

Even though it would be an inferior implementation, would it be a superior API to code it

[2017-04-27 03:24] pixelzoom commented on #25
@samreid Looks like we have a consensus, can this be closed?

[2017-04-27 03:26] pixelzoom commented on #6
Presumably this issue is referring to `Poolable`.

[2017-04-27 04:10] samreid commented on #25
Yes, the current pattern is clear and working well, and `phet.phetCore.inherit` looks pretty clumsy.  Closing.

[2017-04-27 04:10] #25 closed

[2017-05-19 14:20] zepumph opened #26 "Continuous testing error"
phet-core failed with this error:

[code]
This doesn't seem to be systemic, it only happened once in the last 20 or so runs. But perhaps this is an edge case sort of problem.

[2017-06-10 03:39] samreid opened #27 "branch: ttypeElimination"
to support https://github.com/phetsims/phet-io/issues/1112

[2017-08-07 20:36] jonathanolson opened #28 "[branch] built-names"
It looks like it's possible to use our `Namespace.register` function to "fix" the constructor names in mangled sims so that debug traces of built sims are more readable (e.g. "Dialog", "RoundPushButton" instead of "e").

There's a chance it could affect performance (if it prevents some optimizations) or that it might mess things up if function names are checked for other purposes, so pushing to a

[2017-08-07 20:37] jonathanolson commented on #28
For the record, this would be valuable enough to me to recommend testing and merging to master.

[2017-08-09 20:17] samreid commented on #28
It sounds promising to me, would be good to check for potential performance issues on iPad2.

[2017-08-09 20:17] samreid commented on #28
I can see that the solution you proposed is straightforward, but I'm wondering if a better way to approach this would be to tinker with the mangle settings to keep constructor names.

[2017-08-09 20:27] jonathanolson commented on #28
That's possible, but I'm curious how much that would increase the size of things (it would also expand any usage in the same file).

[2017-08-10 17:43] jbphet commented on #28
Discussed briefly in the 8/10/2017 dev meeting.  The need for this hasn't come up for any of the devs who were present since bugs that only occur in the built version are rare, and the sim can be rebuilt without name mangling in that case.  So, if this is inexpensive, it may still be worthwhile, but we'd like to understand the motivation better.

[2017-08-10 17:44] samreid commented on #28
Maybe we should also look into using source maps, as they could provide better stack traces?  This may become more important when PhET-iO has broader adoption and we are getting errors from unknown customizations (which are difficult to reproduce without the wrapper).

Or constructor.name as identified in this issue would be complementary to source maps?

[2017-08-10 17:45] jbphet commented on #28
Leaving tagged for dev meeting to discuss with @jonathanolson when he is around.

[2017-08-10 22:29] jonathanolson commented on #28
But bugs that happen only on specific platforms are somewhat common, and it's more difficult for anyone to just grab a matching device/browser, recompile with --mangle=false and run.

We've also had cases in a few sims where the original source SHAs were lost (so there would be no way I could rebuild the particular version run from source without mangling). When we can reproduce, it's still a pain

[2017-08-11 13:27] samreid commented on #28
It sounds great to me, we should sanity check it for performance/memory issues and go for it.

[2017-08-14 17:32] pixelzoom commented on #28
I changed the title of this issue to match the convention that we use for branch issues.  That is "branch: {{BRANCH_NAME}}".  Following the convention makes it easier to search for branch issue.

[2017-08-14 22:58] jonathanolson commented on #28
Doh, I must have unintentionally changed to thinking that was the proper convention. I changed titles on 6 other open issues. Is it worth changing closed branch issues to that format?

[2017-08-14 22:59] pixelzoom commented on #28
Up to you. My feeling is no.

[2017-08-17 18:29] pixelzoom commented on #28
8/17/17 dev notes:
• sounds safe
• unlikely to leak any IP related to phet-io
• check iPad2 performance before integrating into master (check startup time + animation time)

[2017-08-17 20:14] jonathanolson commented on #28
Won't launch on iPad, so I'm leaning towards deleting this branch, and building without mangling when I need names. Any objections?

[2017-08-17 23:54] samreid commented on #28
It seems like it is worth at least 30 minutes to try to understand why this could fail so badly on iPad.

[2017-10-20 17:35] pixelzoom opened #29 "prevent extend from replacing an existing property"
`extend` is used throughout PhET code to handle mixins.  One of the pitfalls with mixins is that you might overwrite a property that already exists.  `extend` currently doesn't contain any checking for this.  Please add an assertion that fails when you attempt to add a property that already exists.

[2017-10-20 17:43] pixelzoom commented on #29
I tried adding this assertion:

[code]

But then discovered that `extend` is also used by `inherit`.  So this assertion fails whenever a function is overridden.  Highly recommended to use different logic for mixin vs inheritance.

[2017-10-23 17:46] jonathanolson commented on #29
It's also meant to be a mostly "drop-in" replacement for _.extend that also properly handles ES5 setters/getters.

If we're adding this assertion to extend, presumably that would also disallow our pattern of default options:
[code]

Presumably we'd want to create a new (similar) function (or allow options somehow?) with the assertion for cases where we don't want to allow overriding.

Any preferen

[2017-10-23 17:59] pixelzoom commented on #29
@jonathanolson said:

I didn't realize that extend.js was being used to extend options, I always used `_.extend`.  Searching for "options = extend" it appears to be used only in `Poolable`. Why is `_.extend` not appropriate in `Poolable`?

I guess it depends on how (or whether) we address phetsims/scenery#700. But...
`mixin` for Mixins?
`compose` for Traits? With support for verifying that traits

[2017-10-23 18:16] jonathanolson commented on #29
_.extend mucks up ES5 getters/setters, since it ignores setters, and uses whatever value for the getter exists at the time it's called (it actually calls the getter to retrieve the value to override on the object).

extend (phet-core's version) copies over setters/getters nicely.

For example:

[code]

It would technically work in this case, but would fail out if we add getters/setters. I generall

[2017-10-23 18:22] pixelzoom commented on #29
@jonathanolson

When would we have ES5 getters/setters in an options hash? Just trying to understand why this one usage in Poolable.

Sounds right to me.

[2017-10-23 18:28] jonathanolson commented on #29
Bah, didn't realize the extend was called on an options object. Yes, should be safe for _.extend in that case. I'll make the change.

Any thoughts on the preferred name?

[2017-10-23 18:43] pixelzoom commented on #29
In Scala, both mixins and traits are "mixed in".  So... `mixIn`?   Or do you want a name that is more general, not applicable just to mixins and traits?

[2017-10-23 18:46] jonathanolson commented on #29
Was thinking more general, since we may want to extend (disallowing overriding) in other cases.

[2017-10-23 18:52] pixelzoom commented on #29
lodash uses "overwrite" instead of "override". (Override typically applies to methods in OO programming).  `extendNoOverwrite` ?  `extendOnly`?  (as you suggested)

[2017-10-23 23:14] samreid opened #30 "Should static properties be inherited?"
While @zepumph and I were investigating https://github.com/phetsims/phet-io/issues/1236 we created TNumberProperty and were surprised to find that it didn't inherit any of the static fields on TProperty.  We tested another popular (?) language to check the behavior:

[code]

and we saw that the static attributes are accessible from the subtype:

[code]

Should we emulate this in our own inherit ca

[2017-11-07 19:27] jessegreenberg opened #31 "Add safari 10 and 11 to platform.js"
platform.js only checks up to safari9, for https://github.com/phetsims/resistance-in-a-wire/issues/112 I need to check for safari 10 and 11 too.

[2017-11-07 19:43] jessegreenberg opened #32 "Add check for any version of safari to platform.js"
In https://github.com/phetsims/resistance-in-a-wire/issues/112 I need to detect any version of safari, so I have something like

[code]

Can this general check be added to platform.js?

[2017-11-07 19:50] jessegreenberg commented on #32
Maybe refactor check for mobile safari and add something like
[code]

[2017-11-07 19:54] jessegreenberg commented on #32
Ah, I see we need to check for 'Version', the above matches in chrome.

[2017-11-07 20:07] jessegreenberg commented on #32
Added in the above commit.

[2017-11-07 20:26] jessegreenberg commented on #32
@samreid, since you are the original author would you mind reviewing?

I tested that platform.safari is `true` for Safari 10.0.1, Safari on iOS 9.3.5, and `false` for Chrome and Firefox in macOS 10.12.1 and IE11, Edge, Firefox and Chrome in Windows 10.

[2017-11-07 20:27] jessegreenberg commented on #31
@samreid would you mind reviewing this as part of #32?

[2017-11-07 20:37] jessegreenberg commented on #32
@jonathanolson volunteered to review (Thanks!) assigning to him.

[2017-11-07 20:38] jessegreenberg commented on #31
@jonathanolson volunteered to review #32, assigning to him for this issue as well.

[2017-11-07 20:39] jonathanolson commented on #31
Looks good to me. (Edge/Chrome both have the "Safari" and "AppleWebKit" parts, but not the Version part, and hopefully it stays that way).

[2017-11-07 20:39] #31 closed

[2017-11-07 20:40] jonathanolson commented on #32
Looks good to me, thanks!

[2017-11-07 20:40] #32 closed

[2017-11-21 02:35] samreid opened #33 "Add mixins to the inherit call?"
Would it simplify our inheritance system or make it easier to read/understand if mixins were specified in the inheritance call?

`inherit(Object,[mixins],Type,{},{})`

[2017-11-21 16:54] samreid commented on #33
It looks like it would be even more complicated if we have to supply arguments like

[code]

Or would those be "abstract" methods that get implemented in the prototype (in the first `{}` in the inherit call)?

[2017-11-22 14:06] samreid opened #34 "ES6 permits improved options pattern"
@jonathanolson pointed out

[code]

[2017-11-22 14:06] samreid commented on #34
Can you specify the advantages?  I’ll guess, but I want to hear your take on it.  What I’m seeing is: (a) no need for lodash, (b) less opportunity to forget the order of arguments to _.extend and (c) no need to use `options.` in front of option parameters.  Cons: if there are other variables in scope that clash with the option names, it could cause trouble.  Not clear how it impacts memory--may be

[2017-11-22 14:07] samreid commented on #34
If we use a transpiler, there is a good chance it will generate garbage for this step.  Hang on, I'll go check...

[2017-11-22 14:09] samreid commented on #34
https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBA9gDgLgSygOwM4QLwQN4RALggFYIBfAbgChRJcRMIBmAGggCMGBGABjIdkQpUVANp5WHALoQA9DIhiirHhElA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-2&targets=&version=6.26.0

Transpiles https://github.com/phetsims/phet-core/issues/34#issue-276079625 to:

[code]

I'm not seeing any garbage,

[2017-11-22 14:12] samreid commented on #34
One of the reasons I wanted to stay on ES5 is so that no compilation step was necessary to test in the browser.  But now many browsers support ES6 out of the box--we could develop in ES6, test directly in ES6 without a compilation step, then transpile for publication (to support older browsers).

@jonathanolson what do you think?

[2017-11-22 19:34] jonathanolson commented on #34
I've been considering this, but was expecting others to reject the idea. Might be worth checking opinions now (or later, after people have used some of the features).

You guessed most of it. I also saw the "putting the names into local scope" as helpful, so we don't have to prefix every usage with `options.`.

[2017-11-23 01:00] samreid commented on #34
Let's chat at next developer meeting.

[2017-11-25 12:08] samreid commented on #27
Branch deleted, closing.

[2017-11-25 12:08] #27 closed

[2017-11-25 12:13] samreid commented on #26
We haven't seen this issue for a while, closing.

[2017-11-25 12:13] #26 closed

[2017-11-25 12:52] samreid commented on #34
I decided to move my notes about using ES6 in sim code to https://github.com/phetsims/chipper/issues/551 and this issue can remain focused on options pattern.

[2017-11-27 16:24] samreid commented on #33
I came across this mixin/inheritance library: https://github.com/rse/aggregation which uses this syntax (es6)

[code]

[2017-11-27 17:10] samreid commented on #34
MDN has an example of using destructuring to put the options declaration in the function/constructor itself:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[code]

[2017-11-27 17:59] jonathanolson commented on #34
Destructuring has been great, but I wouldn't want to have a 30-line constructor parameters where defaults are specified. Could work nicely for short examples.

[2017-11-29 04:54] pixelzoom commented on #34
Comments...

I'm not wild about using a transpiler just to change how we handle options, as proposed in https://github.com/phetsims/phet-core/issues/34#issuecomment-346361113.  I suspect that the costs would outweigh the benefits.

Reminder that we still need to support the equivalent of:

[code]

... so the we don't modify DEFAULT_OPTIONS.

[2017-11-29 04:57] jonathanolson commented on #34
To me, the options pattern is one of the least important reasons to use es6/transpiler.

I'll have a write-up for the Thurs dev meeting about the features I've used that felt helpful (partially for consideration for using them in sims, and partially so people have will be able to read the chipper/perennial code).

[2017-11-29 04:58] samreid commented on #34
It's not just about options. The main costs and benefits are outlined in https://github.com/phetsims/chipper/issues/551#issuecomment-347087805

[2017-11-29 05:15] pixelzoom commented on #34
I've read through https://github.com/phetsims/chipper/issues/551#issuecomment-347087805, and I'm even less convinced about the transpiler.  The costs listed are massive.

[2017-11-29 16:17] samreid commented on #33
I also noticed ES6 provides mixin support: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[2017-11-29 19:06] samreid commented on #34
Let's unmark this from developer meeting--the primary issue is https://github.com/phetsims/chipper/issues/551 and we can refer to this issue if/when we proceed with that.

[2018-01-17 02:42] jonathanolson commented on #30
It looks like this is a standard pattern, and it would be good (long-term) to support.

An additional question is should the following get copied:
[code]
as that pattern is also used throughout the code. It's also easier to support this, as we can just iterate over `hasOwnProperty` properties on the parent type (and set those on the child type) before setting the child's own static fields.

Additi

[2018-01-17 16:43] samreid commented on #30
I would expect `RANDOM_CONSTANT` to be available on the ChildType in the case you described.  What do you think about this new case?

[code]

[2018-01-17 18:00] jonathanolson commented on #30
Presumably would be undefined with my latest proposal.

There may be a way to get that to work (if we can properly set up the constructor's prototype). We may have the browser support for https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf, but it's supposed to crater performance. Alternatively, there may be a better-performance way of doing that

[2018-01-17 19:23] samreid commented on #30
I don't think we should go out of our way to make https://github.com/phetsims/phet-core/issues/30#issuecomment-358365144 work, just wanted to clarify the distinction between it and https://github.com/phetsims/phet-core/issues/30#issuecomment-358177331

[2018-01-17 23:58] pixelzoom commented on #30
@samreid said:

I think we should be more interested in being consistent with how JavaScript typically handles this. For prototypal inheritance, I'm not certain that statics are inherited as they are in (for example) Java.  And I also have no experience with the class features in ES6.

[2018-01-18 00:00] pixelzoom commented on #30
Btw... I recall a discussion about this on Slack circa the creation date of this issue.  And I know that I had more to say about this at the time.  But I can no longer access those comments, due to the 10K-message limit.

[2018-01-18 20:17] samreid commented on #30
[code]

[2018-01-18 20:21] samreid commented on #30
Here's how Babel does it:

[code]

[code]

[2018-01-18 20:22] samreid commented on #30
![image](https://user-images.githubusercontent.com/679486/35119572-9f0641ae-fc52-11e7-9692-e925281acf63.png)

[2018-01-18 20:31] samreid commented on #30
This doesn't seem urgent, perhaps we can leave it as it is now.  Or we could use copies like in phetioInherit and proposed in https://github.com/phetsims/phet-core/issues/30#issuecomment-358177331

Mimicing ES6 behavior fully seems too complex and difficult for now.

[2018-01-18 20:31] samreid commented on #30
@jonathanolson will investigate.

[2018-01-23 18:50] jonathanolson commented on #30
Babel does use setPrototypeOf(). The warning at the top of https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf is somewhat concerning, but it would probably be good to measure whether there is a performance decline with its use.

@ariel-phet, would it be fine to build a one-off of a sim to test with a performance comparison? (What sim would be bes

[2018-01-23 23:18] ariel-phet commented on #30
@jonathanolson that seems fine to me.

I would say Gene Expression or States of Matter would be good candidates in terms of performance.

[2018-01-24 05:15] samreid commented on #30
Here is the warning at the top of MDN:

![image](https://user-images.githubusercontent.com/679486/35315543-2d5e0028-008a-11e8-8a47-2d96f7457b6f.png)

On the one hand, Babel decided it's safe enough to use for production code.  But on the other hand, even if all browsers work fine (including performance) at the moment, we will have to remain vigilant to test browsers as new versions come out so we

[2018-05-26 07:44] jonathanolson opened #35 "Improved Pooling"
As noted by @samreid in the Area Model review, we have a lot of ugly boilerplate to set up pooling in an efficient manner.

It looks like we can do better in a few different ways (according to my current prototype), so I'll be committing it and iterating so it can be used instead of the current suboptimal pattern.

For instance, the "old" pattern is approximately:
[code]

which can be replaced wit

[2018-05-26 07:46] jonathanolson commented on #35
Also going to look into ways around https://github.com/phetsims/phet-core/issues/7 so we can create even less garbage.

[2018-05-26 08:42] jonathanolson opened #36 "branch: no-pop-pooling"
For testing related to https://github.com/phetsims/phet-core/issues/35

[2018-05-26 08:54] jonathanolson commented on #7
Hmm, writing entries in a preallocated array didn't seem to help much initially, but after the first 200 million pool operations on Chrome it seemed to completely stop allocation.

Is 84kB of leakage (over a slower ~80 seconds) that much better than 370kB of leakage (over a faster ~15 seconds)? Basically the push/pop seems to perform better than the raw indexing method for my limited tests.

[2018-05-26 12:42] samreid commented on #7
Push/pop may indeed have better performance and memory considerations than writing entries in a preallocated array.

Can you clarify the 84kB/80sec vs 370kB/15sec remark?  Is it a factor of 25x different (84/80 vs 370/15)?  I think I'm misunderstanding.

Could you share your performance test code here, and comment how it fares on iPad2 (or I can test that)?

It seems ironic that pooling overhead s

[2018-05-27 20:51] jonathanolson commented on #7
Basically pop/push is faster (15s vs 80s) but uses a bit more memory (370kB vs 84kB). I'm not concerned about a formula for amountLeaked/time, since in sims we're doing a fixed amount of work.

It's in the no-pop-pooling branch. I haven't tested on an iPad2.

I'm not sure I understand your thought about tracking dirty objects. How would that work for when you want to create 10,000 items that could

[2018-05-28 21:57] samreid opened #37 "phetAllocations are taking too long"
While profiling wave interference, I noticed this in the profiler:

![image](https://user-images.githubusercontent.com/679486/40630341-276d7dee-628f-11e8-869a-15b095facea6.png)

This is in requirejs mode.  But I also noticed that window.phetAllocation is defined for a built sim. Is it being stripped out?  Should we block it with:

[code]

I'm not seeing phetAllocation in the profiler for a built s

[2018-05-28 22:51] jonathanolson commented on #37
It's stripped out in the uglify step. Generally I'd recommend `grunt --mangle=false` for profiling, since it keeps names but strips out all the things you generally want stripped out for performance.

[2018-05-28 23:32] samreid commented on #37
Thanks, I just forgot that `global_defs` would strip things in the minify.

[2018-05-28 23:32] #37 closed

[2018-05-29 21:06] jonathanolson opened #38 "What to do about phetAllocation"
Is this useful to people anymore? Can we replace its usefulness with Chrome devtools?

Would be great to just be able to remove phetAllocation if possible.

[2018-05-30 00:11] samreid commented on #38
I requested this issue be assigned to me because I'll consider it while profiling wave interference.

[2018-06-08 00:08] jonathanolson commented on #35
@samreid some time to review current patterns (and any improvements) as part of the Area Model code review would be nice.

[2018-06-11 18:16] samreid commented on #35
Generally this looks preferable to the prior implementation of Poolable, nice work!

I'm not too worried about the `bind.bind`--it seems unlikely to break or be deoptimized in the future.

Perhaps add a specific method for this, instead of requiring clients to use `Array.prototype.push.apply` or equivalent.

Can you comment on `new DefaultConstructor`?  I'm not familiar with that parentheses-less

[2018-06-14 21:09] jonathanolson commented on #35
I might actually wait until the need comes up. Maybe I should make it private? Thoughts?

They look equivalent, I'm going to add the parentheses to be consistent.

I left it for clarity, since it is an atypical usage of new.

Assigning myself to add unit tests.

Can't think of anything, thanks!

[2018-06-15 04:18] jonathanolson commented on #35
@pixelzoom I don't see how this would be blocking publication. The "new" pooling setup is only used directly in area-model right now. Over time I'll probably move more pooling usage to the new method.

[2018-06-15 16:05] samreid commented on #35
Let's make it private for now.

[2018-06-15 17:50] pixelzoom commented on #35
I was not aware of where pooling might be used, and this seemed like a significant change, so (as I said on Slack) I made my best guess.   In any case, shouldn't this be wrapped up so that others can use it, and since this "prototype code" now appears in several published sims? (the Area Model suite).

[2018-06-18 17:28] samreid commented on #35
Are you planning to tackle them as a batch?  If so, one issue seems best.

[2018-06-18 17:39] jonathanolson commented on #35
Probably not.

[2018-06-18 18:13] pixelzoom commented on #35
Is this new pooling approach completed, or is it still "current prototype"?

[2018-06-18 19:38] jonathanolson commented on #35
It is basically completed, although there's a good chance I'll add an option to override how new-instance construction is handled to support how Matrix3 is pooled.

It's still called ExperimentalPoolable because there were no suggestions on Slack dev-public for a better "temporary" name.

[2018-06-18 23:00] pixelzoom commented on #35
Seems like it would be good to (1) wrap this up so that it's no longer experimental/temporary, and (2) chip away at converting "old" style to new.  How you do that is up to you, I don't have a preference since I haven't used old style.

[2018-06-20 19:21] jonathanolson commented on #35
There were some concerns brought up in Slack about using the constructor function also for reinitialization (setting up state from an object pulled from the pool), so it would probably be good to discuss this at the developer meeting.

[2018-06-20 20:18] samreid commented on #35
What if calling the constructor twice ends up linking a `Property` twice?

[2018-06-20 21:47] jonathanolson commented on #35
Then it's absolutely a bug, just the same as if initialize() linked to a Property twice.

[2018-06-21 04:40] samreid commented on #35
I don't see any usages of `dispose` in Poolable.js.  Does it need something like that (to unlink or clean up) before calling constructor again?

Also, I believe 3rd line in this snippet is the one that runs the constructor again on a live instance.  If that's true, please comment accordingly:

[code]

[2018-06-21 07:09] jonathanolson commented on #35
That's been the responsibility of the code that puts it into the pool (to clean out references).

Maybe it would be beneficial (as part of the discussion) for me to show an overview of how pooling is used?

It may not be the constructor itself. How would you recommend I document it?

[2018-06-21 18:34] andrealin commented on #35
@jonathanolson will list examples of code that re use the constructor, and ones that do not. And will tag for developer meeting in two weeks.

[2018-06-21 20:36] jonathanolson commented on #35
Example with an initialize method:
[code]

Example using the constructor:
[code]

[2018-07-12 18:38] pixelzoom commented on #35
7/12/18 dev meeting:

• Calling the constructor more than once is (likely) incompatible with ES6 `class`
• Use `initialize` and `dispose` in types that are `Poolable`.
• By convention, `initialize` will have same parameters as constructor, and doc will say "see constructor" instead of duplicating `@param` annotations.
• For anything `Poolable`, the reader should consult both the constructor and `i

[2018-08-24 17:37] samreid opened #39 "Rewrite Timer.js to use Emitter"
This will support animations as described in https://github.com/phetsims/twixt/issues/19 and will also simplify the Timer implementation.

[2018-08-24 19:32] samreid commented on #39
This change will affect all simulations, it should be reviewed.  It should be OK for phet-core to depend on axon, since other libraries that use phet-core also use axon.

phet-core unit tests are passing, lint is passing, I tested several sims with animations, including Hooke's Law, and did not see any obvious problems.

@ariel-phet can you please recommend a reviewer?

[2018-08-24 19:35] samreid commented on #39
After review, we can remove the hold on https://github.com/phetsims/phet-core/issues/39

[2018-08-24 19:36] samreid commented on #39
I notified the slack channel:

Sam Reid [1:35 PM]
I changed phet-core/Timer to use Emitter, please see https://github.com/phetsims/phet-core/issues/39 for details, and be on the alert for issues this may cause

[2018-08-24 21:55] ariel-phet commented on #39
@pixelzoom this looks like a pretty small file, please review

[2018-08-24 22:08] pixelzoom commented on #39
Recommended to rename `emitter` to `stepEmitter`, in case Timer requires additional Emitters in the future, and for consistency with method names  `addStepListener`, `removeStepListener` and `hasStepListener`.

[2018-08-24 22:10] pixelzoom commented on #39
Additional review comment:  Since we have `addStepListener`, `removeStepListener` and `hasStepListener`, perhaps `stepEmitter` should be `@private` instead of `@public`.  This would hide the specifics of how Timer is implemented, which has served us well, and allow this change to be made easily.

[2018-08-24 22:11] samreid commented on #39
In https://github.com/phetsims/twixt/issues/19 we discussed creating a public Timer Emitter so that we can have a uniform interface for animating things.

[2018-08-24 22:13] pixelzoom commented on #39
Documentation should indicate:
- that `stepEmitter` fires `emit1` with `dt`
- the signature of step listeners

[2018-08-24 22:16] pixelzoom commented on #39
@samreid said:

Why can't clients use `PhetCore.Timer.addStepListener`?  That's the same API used by other clients of Timer.

[2018-08-24 22:19] samreid commented on #39
The proposal was

[code]

This would support (a) passing in an Emitter (b) using the default Timer Emitter or (c) manually calling step.  If we require animation clients to use `PhetCore.Timer.addStepListener` then we would have to detect if a Timer was passed in or an Emitter was passed in.  Or we could change the API for `PhetCore.Timer` to be `addListener`/`removeListener`, then we wouldn't nee

[2018-08-24 22:30] pixelzoom commented on #39
The step emitter should be an option to `Animation`, not the clients of `Animation`.

Also consider reimplementing Animation's `stepper: 'timer'` option to call `Timer.addStepListener`.

If you feel strongly that `Animation` requires the ability to pass in a general step emitter.. Having 2 different APIs for manipulating Timer's `stepEmitter` (directly or via methods) has a code smell.

[2018-08-24 22:41] samreid commented on #39
If Carousel creates/uses Animation, and I need to drive it from the simulation, then how can I pass a stepEmitter to the Animation without first passing it to Carousel?

[2018-08-24 22:43] samreid commented on #39
We could make Timer extend Emitter?  Or go with the proposal at the bottom of https://github.com/phetsims/phet-core/issues/39#issuecomment-415897143 ?

[2018-08-24 22:56] pixelzoom commented on #39
What do you mean by "drive it from the simulation"?  If you mean "drive it via the phet-core Timer", then specify `stepper: 'timer'` and have Animation add a listener via PhetCore.Timer.addStepListener.  If you mean "drive it via client `step` functions`, then specify `stepper: 'manual'`.

[2018-08-24 22:57] samreid commented on #39
I meant drive it from the simulation by passing in a simulation-specific Emitter, which is listed as option (a) in https://github.com/phetsims/phet-core/issues/39#issuecomment-415897143 and option (c) in https://github.com/phetsims/twixt/issues/19#issue-353869087

[2018-08-24 22:59] samreid commented on #39
Would `Animation` not work with an `Emitter` arg?  I feel like we are miscommunicating about something.  I'm available on slack/zoom if you want to chat.

[2018-08-26 21:53] samreid commented on #38
Chrome dev tools has been great for Wave Interference, I'll remove this.

[2018-08-26 22:00] samreid commented on #38
Removed from all repos, lint-all is passing, we'll reopen if CT or other issues appear.

[2018-08-26 22:00] #38 closed

[2018-08-30 18:36] samreid commented on #39
At today's meeting, we discussed that nobody has an imminent deploy coming up, and that leaving this for @pixelzoom to review when he is available still sounds like a good plan.

[2018-08-31 17:38] pixelzoom commented on #39
Yes, `Animation` could be made to work with a general `Emitter` options for `stepper`.  But I've heard no request or need for that generality.

I'm objecting to 2 things related the `@public` visibility of Timer's `stepEmitter`:

(1) Making `stepEmitter` `@public` means that the specifics of how Timer is implemented are no longer hidden. And hiding the implementation has served use well in the pas

[2018-08-31 19:02] samreid commented on #39
The top comment in this issue said:

In twixt#19 it was proposed that we support

(b) simulation directly calls step (through a nested chain of calls)
(c) simulation passes in a steppedEmitter which the component listens to for its updates (edited)

A pattern was proposed for how to achieve this, and @pixelzoom replied:

Hence I opened this issue to create `stepEmitter`.

That's true!  We could hi

[2018-08-31 19:41] pixelzoom commented on #39
It was proposed by you.  I'm still of the opinion that clients (by default) shouldn't be bothered with controlling the animation of UI components, and that `stepper: 'timer'` and `stepper: 'manual'` are sufficient to meet PhET's needs in Animation.  I don't see (and haven't heard) the need to provide a general Emitter as one of the `stepper` values to Animation.

Instead of "happy to use that patt

[2018-08-31 19:50] samreid commented on #39
Yes, I remember it clearly!

The default I proposed was to use `Timer.steppedEmitter` which means clients by default wouldn't be bothered with controlling the animation of UI components.

Will we ever want to drive Animations from the model?  If not, why not?

It's the more flexible pattern.  We previously debated which strategy to use because we didn't know of this more flexible pattern at the ti

[2018-08-31 19:54] samreid commented on #39
If we change `Timer` to extend `Emitter` then the default would be `Timer` instead of `Timer.steppedEmitter`.

[2018-08-31 19:59] pixelzoom commented on #39
I'm OK with Timer extends Emitter, but think we should then remove addStepListener, removeStepListener, hasStepListener.

[2018-09-02 14:57] samreid commented on #39
I've rewritten `Timer` to extend `Emitter`, and removed the ` addStepListener`, `removeStepListener` and `hasStepListener` methods.

Notes:
1. I considered making this change in a branch for review, but there are 6 repos affected by this change, and the overhead of 6 branches did not seem warranted.  So I'll push these changes directly to master for review.
2. Timer previously did not explicitly e

[2018-09-02 15:00] samreid commented on #39
Pushes complete, ready for review.

[2018-09-03 17:59] pixelzoom commented on #39
The use of TimerType and Timer names feels wrong.  Relevant lines from Timer.js:

[code]

UpdateCheck and phetioCommandProcessor are two examples of singleton pattern, they're slightly different. And the above is yet-another variation, which feels like a step in the wrong direction (particularly giving the class a different name).

Perhaps we should review what the PhET singleton pattern is suppos

[2018-09-03 18:04] pixelzoom commented on #39
My vote would be to follow the singleton pattern used in phetioCommandProcessor.js.  That is, use a lowercase filename to indicate that it's a singleton instance, and return the singleton.

[code]

[2018-09-03 21:58] samreid commented on #39
Thanks, that pattern seems great.  Changed in the preceding commit, ready for review.

[2018-09-04 16:37] samreid commented on #39
I messaged the developer slack channel:

After making this change, I tested the first dozen sims in aqua and didn't see any systemic problems.  I also tested sun/demo carousel and it animated properly.

[2018-09-04 16:47] samreid commented on #39
I've renamed PHET_CORE/Timer to PHET_CORE/timer.  I messaged on slack:

@pixelzoom back to you for review.

[2018-09-04 17:03] pixelzoom commented on #39
JSdoc for methods does not meet PhET standards. There are no `@param` or `@returns` annotations.

Two comments indicated "a listener (which can take a {number} dt argument)", but I see the listener called without a dt argument, i.e. `listener()` on lines 28 and 54.

[2018-09-04 19:05] pixelzoom commented on #39
In the above commits, I fixed a copy-paste typo and added a comment about where `dt` comes from (timer.emit1 in Sim.stepSimulation).

Everything else looks good.

Closing.

[2018-09-04 19:05] #39 closed

[2018-09-05 22:04] samreid opened #40 "Move Enumeration.js to phet-core"
From last week's dev meeting:

JO & SR will discuss later on

area-model-common/js/common/model/Orientation.js seems too specific to area-model.

'FRACTIONS_COMMON/common/enum/Enumeration' looks great and it would work seamlessly with PhET-iO because it's all based on strings instead of object identity.

Want to move 'FRACTIONS_COMMON/common/enum/Enumeration' to phet-core?  If we did that, would t

[2018-09-20 00:34] samreid opened #41 "Array.reverse broken on iOS 12 and Mac Safari 12"
See https://github.com/fanmingfei/array-reverse-ios12.  The webkit bug page says a push has been committed, but we have no way of knowing when Apple will roll this out: https://bugs.webkit.org/show_bug.cgi?id=188794

We have approximately 60 usages of `.reverse()` across our repos.  I have not updated to iOS 12 or Mac Safari 12 so I haven't checked the sims to see this bug in action.  We should de

[2018-09-20 05:48] jonathanolson commented on #41
Having QA test (and being informed of places where reverse() is called) might be a good option.

[2018-09-20 16:33] jbphet commented on #41
How about we also help QA determine whether a given platform has the issue?  For instance, we could create a simple page that would print whether the problem exists, so that QA can see first of all if it exists on many of our devices and second which sims break in the presence of the bug.

[2018-09-20 16:49] pixelzoom commented on #41
What @jbphet said.  But start with a simple page that only tests `Array.reverse`.   Then if it fails, put in the additional effort to determine which sims break.

[2018-09-20 16:53] samreid commented on #41
The link in the initial comment provides a test page and the linked stackoverflow page has another (clearer?) test page.  It looks like refreshing the browser is part of the process required to reproduce the problem.

[2018-09-20 16:55] pixelzoom commented on #41
FYI, iOS 12 and Safari 12 were released on 9/17/18. Safari 12 is supported on macOS 10.12 - 10.14.

[2018-09-20 19:10] samreid commented on #41
@jonathanolson pointed out that this only affects arrays of primitives, not arrays of objects.  @ariel-phet will check in with the QA team to make sure they are testing on iOS 12 and Mac Safari 12 in the next RCs.

[2018-09-20 19:15] ariel-phet commented on #41
Have QA test on iOS 12 with a known problematic safari version next week on all published sims (1 min test) if possible.

[2018-10-04 02:03] ariel-phet commented on #41
Closing this issue, we will see what the QA test reveals.

[2018-10-04 15:39] samreid commented on #41
Would it be better to leave this issue open and on hold until testing complete?

[2018-10-05 01:34] ariel-phet commented on #41
My plan was to open a new issue with relevant information, and the plan to address it IF anything is identified by QA, it is unclear if this is even a problem for us.

Closing, and please leave close @samreid

[2018-10-05 01:34] #41 closed

[2018-10-15 19:14] zepumph commented on #40
While we are at it, it seems like a good idea to make that generic Enumeration type common as well. I find myself adding the same boilerplate to all my enums: freezing if assert is enabled, storing the keys on the object too. It would be good it that was factored out and consistent (sometimes I name by keys `keys` instead of `VALUES`.

[2018-10-15 23:55] jonathanolson commented on #40
Added Enumeration to phet-core. Would either of you like to review?

[2018-10-17 20:44] pixelzoom opened #42 "Enumeration code review"
In https://github.com/phetsims/graphing-quadratics/issues/62, I was asked to convert Graphing Quadratics from string arrays to Enumeration.  Apparently I am the guinea pig, since Enumeration appeared in phet-core on 10/15/18.

Questions, change requests, problems, etc.

- [x] Change `is` to `includes`.  `Align.includes( options.align )` reads much better than `Align.is( options.align )`.  And `inc

[2018-10-17 20:53] pixelzoom commented on #42
More...

- [ ] Enumeration does not behave properly with string comparisons.  E.g.

[code]

With a proper enumeration, those last 2 expressions would be `false`.

- [ ] Enumeration silently ignores assignment attempts.  E.g.

[code]

[2018-10-17 20:58] pixelzoom commented on #42
- [ ] You can apparently change Enumeration's values (which are `@public`, not `@public (read-only)`) after construction.  E.g.

[code]

[2018-10-17 20:59] pixelzoom commented on #42
- [ ] Enumeration has a field `this.VALUES`.  Using uppercase for a field name does not match PhET's naming conventions.  Uppercase is for constants.

[2018-10-17 21:04] pixelzoom commented on #42
- [ ] Do we really need the `VALUES` field?  If yes for internal reasons, does it need to be public?

[2018-10-17 21:07] pixelzoom commented on #42
- [ ] These 2 assertion need messages, or at least comments about why they are necessary.

[code]

They are necessary because the implementation makes it impossible to use values 'VALUES' and 'is', e.g. `new Enumeration( ( 'VALUES', 'is' ] ).   That wasn't at all obvious to me until I did this code review.

[2018-10-17 21:29] pixelzoom commented on #42
In https://github.com/phetsims/graphing-quadratics/issues/62#issuecomment-430795603, I decided not to use `Enumeration` in Graphing Lines.  I don't see the benefit over using string arrays, since `Enumeration` incorrectly succeeds in assignments and expressions involving strings.

[2018-10-17 23:30] jonathanolson commented on #42
Sounds good, will do.

It is "acting" like a type defined by being one of the specified string values, so it's named like a type.

This is what others had done, and was convention. Might be good to discuss at dev meeting (I'll tag the issue)

Sounds good, will do.

It's more of an implementation detail that helps for phet-io. Previous discussions at developer meeting favored this type of enumerati

[2018-10-18 02:30] pixelzoom commented on #42
That sounds great, but should be enforced by Enumeration.

[2018-10-24 20:12] samreid commented on #42
That's my recollection as well.  If we use strings, then serialization is automatic and effortless.  If we define object values for enumerations, then each enumeration type would need to declare its own IO type.  Or maybe we can think of one IO type that works for all Enumerations (by serializing as strings).  I'm interested in investigating this latter idea, it sounds like the best of both worlds

[2018-10-24 23:12] zepumph commented on #40
I have nothing more to add that isn't covered by https://github.com/phetsims/phet-core/issues/42. Usages look good. Ready to close?

[2018-10-24 23:44] jonathanolson commented on #40
Sure, that issue definitely sounds like the place for further improvements/discussion. Thanks!

[2018-10-24 23:44] #40 closed

[2018-11-11 23:16] samreid commented on #42
Here's a patch that does the following:
* Moves to object identity instead of string identity--that is, makes `Animals.includes('COW')` return false.
* Introduces `EnumerationIO` to add PhET-iO support like this:

[code]

`EnumerationIO` automatically saves and loads Enumeration values.

[code]

As far as I recall, PhET-iO was one of the problematic issues which pushed us to use String Enumeration

[2018-11-12 15:40] samreid commented on #42
I decided to commit the proposal for EnumerationIO for the sake of discussion, we can decide whether to keep it or not.

[2018-11-12 17:31] pixelzoom commented on #42
@samreid said:

I would never expect  to be able to use `Animals.COW instanceof Animals`, since Animals is not a class and Animals.COW is not an instance.  I would expect `Animals.includes( Animals.COW )`.

[2018-11-12 17:36] pixelzoom commented on #42
@samreid said:

Where in Enumeration is the patch applied? What is the significant of var name `elm`?  Is this patch required for EnumerationIO?

[2018-11-12 17:37] pixelzoom commented on #42
https://github.com/phetsims/phet-core/issues/42#issuecomment-437714737, @samreid said:

Where in Enumeration should the patch be applied?
What is the significance of var name `elm`?
Is this patch required for EnumerationIO?

[2018-11-12 17:37] samreid commented on #42
For the sake of discussion, in Java, `enum` is a special kind of class, so this code prints `true`.  I'm fine if we go a different way with JS:

[code]

[2018-11-12 17:39] pixelzoom commented on #42
`instanceof` works with enumerations in Java because `enum` is part of the language.  That's not the case here, we're rolling our own.  Are you suggesting that we should somehow overload `instanceof`?

[2018-11-12 17:41] samreid commented on #42
Here's an actual patch that shows the difference:

[code]

My undergrad CS teacher once used the word "elm" as an abbreviation for "element".  We should choose a better variable name if we move forward with this pattern.

[2018-11-12 17:42] samreid commented on #42
I don't think we could overload the `instanceof` operator generally, but we could add a special case to `Property.valueType` to handle enumerations if that seems better than using `validValues: MyEnumeration.VALUES` or `isValidValue: v=>MyEnumeration.includes(v)`

[2018-11-13 03:27] jonathanolson commented on #42
If we're objectifying enumeration values, we'll also want to provide each object with a `toString()` method.

In the past, we've used enumeration values as object keys (since they were both strings), and providing `toString()` will allow this to work as before, e.g.:

[code]

[2018-11-13 15:33] samreid commented on #42
@jonathanolson and I discussed this and decided to move forward with objectifying enumeration values using the strategy proposed in https://github.com/phetsims/phet-core/issues/42#issuecomment-437714737.  I'll do so shortly (with the proposed toString implementation).

[2018-11-13 15:53] samreid commented on #42
In the preceding commits, Enumeration has been changed to use Object values instead of String values, and I added tests to make sure it is working properly and to make sure `toString` works as desired.  Reassigning to @jonathanolson and @pixelzoom to review this part.

[2018-11-14 15:45] pixelzoom commented on #42
I'll be happy to review this after work is considered complete and @jonathanolson has reviewed it.

[2018-11-14 22:02] jonathanolson commented on #42
Looks good to me.

[2018-11-14 22:09] pixelzoom commented on #42
The best way for me to review this is to use it.  I have a couple of string enumerations in Gas Properties that I'll try converting to Enumeration.   It may be awhile before I get to this.

[2018-11-14 22:10] pixelzoom commented on #42
@samreid @jonathanolson I'm assuming that it's OK to remove the meeting:developer label.  Restore it if there's a reason to discuss.

[2018-11-15 17:00] jonathanolson commented on #42
There were at least a few of your review notes that would benefit from group discussion, but it can be handled later.

[2018-11-16 02:37] pixelzoom commented on #42
Most of the checklist item in https://github.com/phetsims/phet-core/issues/42 are still unchecked. @samreid please check the ones that have been addressed so that I know what I'm reviewing, then assign back to me.

[2018-11-16 02:41] samreid commented on #42
The part that would be good to review is where we moved to object equality instead of string equality in https://github.com/phetsims/phet-core/commit/27c1c5d0dc95781f2d84893e82fe1769d151c545 and the corresponding test https://github.com/phetsims/phet-core/commit/2e54db083eb309bcb4b7cec0bd650c53a19156df

[2018-11-16 23:09] pixelzoom commented on #42
I've used Enumeration in gas-properties, see above commit.

Object equality seems to be working nicely. But I can still modify `VALUES`, it needs to be frozen.

Example of `Property` value validation boilerplate is shown below. What would `phetioType` be?

[code]

Back to @samreid.

[2018-11-17 04:50] samreid commented on #42
You may prefer to use:
`validValues: ParticleTypeEnum.VALUES`

instead of
`isValidValue: value => ParticleTypeEnum.includes( value )`

The phetioType would be `phetioType: EnumerationIO(ParticleTypeEnum)`.  I hate to use the term "guinea pig", but this is a new type and hasn't been used in practice yet.

[2018-12-03 16:32] samreid commented on #42
Or each Enumeration could internally create a type, then create values as instances of the type, then `instanceof` should work...

[2018-12-03 19:56] jonathanolson commented on #42
That sounds potentially nice. You'd want to support subclassing the class, so it might be a bit tricky to set up though.

[2018-12-05 02:30] samreid commented on #42
I'm going to split out remaining features into new issues to help us divide and conquer.  Look out below for related issues ⬇️

[2018-12-05 02:32] samreid opened #43 "How should casing work for Enumerations?"
In https://github.com/phetsims/phet-core/issues/42#issue-371259394 @pixelzoom said:

[2018-12-05 02:33] samreid opened #44 "Should we assert that Enumeration value texts are UPPERCASE?"
In https://github.com/phetsims/phet-core/issues/42#issue-371259394 @pixelzoom said:

[2018-12-05 02:35] samreid opened #45 "Enumeration should fail when we attempt to overwrite values"
In #42 @pixelzoom said:

[code]

[2018-12-05 02:36] samreid opened #46 "Enumeration values should be immutable"
From #42 @pixelzoom said:

[code]

[2018-12-05 02:37] samreid opened #47 "Enumeration VALUES casing?"
From #42 @pixelzoom said:

[2018-12-05 02:38] samreid opened #48 "Does Enumeration need VALUES? Does it need to be public?"
From #42 @pixelzoom said:

[2018-12-05 02:38] samreid opened #49 "How should we use Property validation for Enumerations?"
From #42 @pixelzoom said:

[code]

[2018-12-05 02:39] pixelzoom commented on #43
FYI, I've followed precedent and have been using class-like names for Enumerations. See examples in Gas Properties.

[2018-12-05 02:40] samreid commented on #43
@jonathanolson also said:

[2018-12-05 02:41] samreid commented on #44
@jonathanolson said:

[2018-12-05 02:42] samreid commented on #45
@jonathanolson said:

[2018-12-05 02:42] samreid commented on #46
@jonathanolson said:

[2018-12-05 02:43] samreid commented on #47
@jonathanolson said:

[2018-12-05 02:43] samreid commented on #48
@jonathanolson said:

[2018-12-05 02:43] samreid commented on #49
@jonathanolson said:

[2018-12-05 02:45] samreid commented on #44
I said:

[code]

[2018-12-05 02:45] samreid commented on #44
@pixelzoom said:

[2018-12-05 02:46] samreid commented on #49
I said:

[2018-12-05 02:46] samreid commented on #49
@pixelzoom replied:

[2018-12-05 02:47] samreid commented on #49
For the sake of discussion, in Java, `enum` is a special kind of class, so this code prints `true`.  I'm fine if we go a different way with JS:

[code]

[2018-12-05 02:47] samreid commented on #49
@pixelzoom said:

[2018-12-05 02:47] samreid commented on #49
I don't think we could overload the `instanceof` operator generally, but we could add a special case to `Property.valueType` to handle enumerations if that seems better than using `validValues: MyEnumeration.VALUES` or `isValidValue: v=>MyEnumeration.includes(v)`

[2018-12-05 02:49] samreid commented on #46
@pixelzoom said:

[2018-12-05 02:49] samreid commented on #49
@pixelzoom said:

[code]

[2018-12-05 02:49] samreid commented on #49
I replied:

You may prefer to use:
`validValues: ParticleTypeEnum.VALUES`

instead of
`isValidValue: value => ParticleTypeEnum.includes( value )`

The phetioType would be `phetioType: EnumerationIO(ParticleTypeEnum)`.  I hate to use the term "guinea pig", but this is a new type and hasn't been used in practice yet.

[2018-12-05 02:50] samreid commented on #49
Or each Enumeration could be a type, then create values as instances of the type, then `instanceof` should work...

[2018-12-05 02:50] samreid commented on #49
@jonathanolson said:

I think I should create a sub-sub issue about `instanceof`.

[2018-12-05 02:51] samreid commented on #42
All outstanding work has been moved to new issues, I recommend we close this parent issue and continue in the child issues, @pixelzoom sound OK?

[2018-12-05 02:54] samreid opened #50 "Support for rich Enumerations"
From https://github.com/phetsims/phet-core/issues/49 which came from https://github.com/phetsims/phet-core/issues/42

I said:

@jonathanolson replied:

@pixelzoom also said:

and @pixelzoom also said:

Other Property validation strategies are discussed in #49, this issue is all about if/how we should support instanceof.

[2018-12-05 02:55] samreid commented on #49
I created a sub-issue about `instanceof`.  Hence this issue will just be about Property validation.  The proposal is to use `validValues: MyEnumeration.VALUES`.  @pixelzoom sound OK?

[2018-12-05 03:14] samreid commented on #43
We are discussing making this into a true type in #50.  But even if we don't make it a true type, we can use the convention that we case it like a type, as mentioned in https://github.com/phetsims/phet-core/issues/43#issuecomment-444337288 and 👍 in the preceding comment.  @pixelzoom can this issue be closed?

[2018-12-05 04:19] samreid commented on #44
In the preceding commit, I added a regex test for each enumeration value and a unit test to make sure the regex test is working.  @pixelzoom can you please review at your convenience?  The regex test is:

[code]

[2018-12-05 04:32] samreid commented on #45
I tested that in strict mode, Enumeration cannot assign values.  I tried:

[code]

and received:

I also noted this is covered in the Enumeration unit tests:

[code]

@pixelzoom can this issue be closed?

[2018-12-05 04:49] samreid commented on #46
I tested that modifying VALUES indeed throws an error when Object.freeze is set.  I added a unit test for this as well.  @pixelzoom can you please review?

[2018-12-05 04:51] samreid commented on #47
I prefer `Enumeration.VALUES`. That is, having `Enumeration` cased as if it were a type, and having `VALUES` as if it were a static constant on that type.  @pixelzoom back to you.

[2018-12-05 04:52] samreid commented on #48
I agree it is useful to iterate over enumeration values, and this is also helpful in Property validation via `validValues: MyEnumeration.VALUES`.  @pixelzoom sound ok?

[2018-12-05 04:54] samreid commented on #50
@jonathanolson can you please elaborate on:

Are you saying if I had `CardinalDirection` as an `Enumeration` "type" that it would be important to be able to subtype it?  Can you subtype Enums in other languages?

[2018-12-05 15:57] pixelzoom commented on #49
I'm OK with using `validValues: MyEnumeration.VALUES`, if that field is frozen.   But I also think that using `MyEnumeration.includes( value )` is acceptable, especially in circumstances where validation might involve more than simply inclusion in an Enumeration.

[2018-12-05 15:59] pixelzoom commented on #43
It can be closed when the rest of the development team is made aware of the convention, either at a developer meeting, or (more appropriately) in a style guide or code review doc.

[2018-12-05 15:59] pixelzoom commented on #48
OK.  But `VALUES` needs to be frozen.

[2018-12-05 16:00] pixelzoom commented on #47
OK with me.

[2018-12-05 16:00] #47 closed

[2018-12-05 16:00] samreid commented on #49
Sounds good, can this issue be closed?

[2018-12-05 16:00] #45 closed

[2018-12-05 16:02] samreid commented on #43
Can this be checked with a lint rule?

[2018-12-05 16:03] samreid commented on #48
Values are frozen as described in https://github.com/phetsims/phet-core/issues/46, unless I'm misunderstanding something.  Please clarify.

[2018-12-05 16:09] pixelzoom commented on #48
I reviewed this issue before seeing #46, where I see that `VALUES` is now frozen.  Closing.

[2018-12-05 16:09] #48 closed

[2018-12-05 21:30] pixelzoom commented on #46
`VALUES` is still modifiable, I see no evidence that it has been frozen.  And the unit test isn't testing this.

[code]

[2018-12-05 21:54] pixelzoom commented on #44
The test you have works fine.  I would've used `/^[A-Z][A-Z0-9_]*$/g.test( value )`, since it returns true/false.  Your decision on whether the change it.

[2018-12-06 00:16] jonathanolson commented on #49
No further input.

[2018-12-06 00:16] #49 closed

[2018-12-06 00:17] jonathanolson commented on #50
I was thinking in terms of rich enumerations, e.g. Orientation.

[2018-12-06 00:45] jonathanolson commented on #50
Java allows rich enumerations, e.g.:

[code]

which is the equivalent of what I'd want.

[2018-12-06 00:51] jonathanolson opened #51 "phet-core's Timer depends on axon"
Since axon depends on phet-core, this introduces a circular dependency, and broke phet-core's playground.

Can we move Timer to axon?

[2018-12-06 00:57] pixelzoom commented on #51
I don't know.  I made some documentation fixes. @jbphet moved it from joist to phet-core on 1/11/2016.

[2018-12-06 01:06] jonathanolson commented on #46
As in, it SHOULD be done, but it isn't. I added the freezes in the above commit.

Now attempts to modify them properly error:

![enumeration-values](https://user-images.githubusercontent.com/480878/49554224-6eb7a480-f8b8-11e8-9bfc-4a31b82c129a.PNG)

[2018-12-06 01:36] pixelzoom commented on #46
And over in https://github.com/phetsims/phet-core/issues/48#issuecomment-444539223, @samreid had said:

So I don't know who to believe :)

[2018-12-06 01:57] samreid commented on #51
Axon makes senes for timer, because timer is an `Emitter` that emits at particular times.

[2018-12-06 01:59] samreid commented on #46
The miscommunication was reassigning the entire `VALUES` array vs reassigning elements of the `VALUES` array.  Sounds like both are frozen now.  Closing.

[2018-12-06 01:59] #46 closed

[2018-12-07 18:01] jbphet commented on #51
It seems a little odd for it to go into Axon, since it's not really a property or emitter thing (@samreid's justification above notwithstanding), but if having it in phet-core creates a circular dependency it seems we would have little choice.  I'd say go for it.

[2018-12-08 21:34] samreid commented on #44
Thanks, I changed it to use regex.test.  Back to you for microreview.

[2018-12-08 22:42] samreid commented on #50
Would this be sufficient?

[code]

Would we benefit from library support for a pattern like that?

[2018-12-09 02:46] samreid commented on #51
Did you mean "phet-core's playground"?  If so, how can I launch that?  I'm happy to move this but would like to make sure I understand the problem first.  I tested that scenery playground is working OK.

[2018-12-09 22:15] pixelzoom commented on #44
👍

[2018-12-09 22:15] #44 closed

[2018-12-10 16:04] jonathanolson commented on #51
For me it is http://localhost/phet-core/tests/playground.html.

The larger problem is that currently phet-core depends on axon, and axon depends on phet-core. If we don't want axon to be a separate "thing" we could always merge the two together.

[2018-12-10 16:10] jonathanolson commented on #50
The above type of thing would work, but it seems like it's duplicating what Enumeration does, and missing things like Enumeration's includes() or whatever we add to Enumeration in the future. Ideally Enumeration itself should work with the rich `Planet`.

[2018-12-29 23:08] pixelzoom commented on #34
My recollection from our ES6 discussion is that we decided _not_ to use this pattern, and to stick with the pattern we've been using.  @samreid Is there any reason not to close this issue?

[2018-12-29 23:12] pixelzoom commented on #23
Since we've been using ES6 for a few months now, it seems like this issue could be closed. @samreid please close if you agree.

[2018-12-31 01:39] samreid commented on #34
This pattern is employed in several places in chipper, you can find some (all?) by searching for ` = options`.  I don't recall if the consensus was "developer preference" or "let's avoid this pattern".  How do you recommend to proceed?

[2018-12-31 01:41] samreid commented on #23
To clarify, we are using ES6 `class extends` but not modules, and it seems to be working nicely, closing.

[2018-12-31 01:41] #23 closed

[2019-01-01 21:02] pixelzoom commented on #34
I guess we'll have to discuss at developer meeting, since not everyone is clear on what was decided.

The ES6 discussion I referred to above was https://github.com/phetsims/phet-info/issues/82#issuecomment-415184914 (Best Practices for ES6).

[2019-01-03 20:15] samreid commented on #34
@jonathanolson: don't use that pattern for sims.  In Node code, we can use lodash, so we should use the same options pattern we use in sims.  I'm not interested in going back and fixing all of them at once, but maybe we can convert them as we go.

[2019-01-03 20:16] samreid commented on #34
Self-assigning in case it is easy to look through prior cases to upgrade them.

[2019-01-04 19:24] pixelzoom opened #52 "namespace keys are not verified for inner classes"
Over in https://github.com/phetsims/sun/issues/429, I noted this in `ComboBox`, namespace registration for inner class `ComboBoxItemNode`:

`sun.register( 'ComboBox.ItemNode', ComboBoxItemNode );`

It should be:

`sun.register( 'ComboBox.ComboBoxItemNode', ComboBoxItemNode );`

This error (introduced on 12/7/2016) is not being detected. Looking at checkNamespaces.js, I see no support for inner cla

[2019-01-04 19:32] zepumph commented on #52
I added these two lines to the top of Namespace.register:
[code]

And it seemed to work as expected. Notice the edge case for dot's "FastArray". Otherwise It caught the ComboBox error and I didn't see anything else.

[2019-01-04 19:40] zepumph commented on #52
Scratch that I found a few more issues:

- [x] ComboBoxItemNode (now) fixed
- [x] SkaterSamplesNode
- [x] ScaleSlider

[2019-01-04 19:55] zepumph commented on #52
I think we should clean up this assertion and add it in, as it helped to find a few registration malformities. Cleaned up I wonder if we could make it look like:

[code]

I really don't like the "FastArray" check in there. It seems out of place.

I think also we could make the argument that this was only a problem in 3 places (one of which was just me being stupid), and so perhaps since I fixed th

[2019-01-04 21:13] samreid commented on #52
I thought @jonathanolson had recently mentioned that we may remove FastArray? But I may be thinking of something else.

[2019-01-04 22:48] ariel-phet commented on #52
I feel like we should discuss this at 01/10/19 dev meeting since checking for namespace collisions seems worthwhile and there appear to be some open questions in the discussion above.

[2019-01-08 18:13] pixelzoom opened #53 "Enumeration conventions"
Proposal for Enumeration conventions:

1. Enumerations are named like classes/types.  Nothing in the name needs to identify that they are Enumerations.  Example:

`Orientation`, not `OrientationEum` or `OrientatonEnumeration`.

2. Enumeration values are named like constants.  Example:

`new Enumeration( 'HORIZONTAL', 'VERTICAL' )`.

3. If an Enumeration is closely related to some class, then make

[2019-01-09 05:39] samreid commented on #34
ScrollingChartNode.js has this:

[code]

That seems acceptable to me, but I thought I'd run it past @jonathanolson to be sure.

[2019-01-10 06:40] jonathanolson commented on #34
That pattern looks fine to me.

[2019-01-10 19:35] pixelzoom commented on #53
1/10/19 dev meeting:

Wave Interference and Gas Properties currently use the above proposal.

Consensus is that this proposal is close enough to add to phet-software-design-patterns.md.

[2019-01-10 19:46] samreid commented on #52
Perhaps we can iterate over the keys in a registered requirejs object, see if any have type `function` or `class` and start with an uppercase letter + lowercase letter.  Then check if they are namespaced correctly?

[2019-01-11 22:02] pixelzoom commented on #53
Another convention related to Enumeration:

(5) If a Property takes an Enumeration value, its validation typically looks like this:

[code]

[2019-01-11 22:31] pixelzoom commented on #53
Conventions have been moved to the header comment of Enumeration.js, and are referred to in phet-software-design-patterns.md.

Closing.

[2019-01-11 22:31] #53 closed

[2019-01-18 17:14] samreid commented on #34
That pattern is also used in faradays-law/js/faradays-law/view/MagnetJumpKeyboardListener.js and seems clear.  I'm not seeing a good reason to change these, closing.

[2019-01-18 17:14] #34 closed

[2019-02-11 18:13] jessegreenberg opened #54 "Guard against shadowing for mixins and traits"
This came out of discussion in https://github.com/phetsims/phet-info/issues/92 and https://github.com/phetsims/phet-info/issues/88. When using mixin/trait pattern there is no guard against accidentally overriding functions in the mixin/trait.

It was recommended that someone examine our mixin/trait pattern and recommend a solution for this. Adding to developer meeting to discuss with @ariel-phet p

[2019-02-11 18:15] jessegreenberg commented on #54
I also found https://github.com/phetsims/phet-core/issues/29, which is very related. Though I think discussion on the 2/11/19 sofware design patterns meeting was more concerned with accidental function overloading than accidentally replacing properties.

[2019-02-14 05:23] samreid commented on #54
Accidental shadowing can also occur for `class extends` and `inherit`.  Perhaps we can find a solution that helps us address these cases in addition to mixins/traits.  Do we ever have intentional shadowing?

[2019-02-14 19:21] Denz1994 commented on #54
Dev Meeting 02/14/19

AP: Return to dev meeting with a recommendation to handle accidental overrides.

SR: Consider using ES6 proxy to catch shadowing. May not be compatible with all browsers.

JO: A better pattern for checking for existence before the mixin may avoid proxy usage.

[2019-02-25 17:13] jessegreenberg commented on #54
Discussed during core hours 2/25/19, we would like to guard against shadowing for methods and fields when using the mixin/trait pattern. If the solution to this will work with `inherit` that is great, but since we are generally writing new code with `extends` now, it isn't worth spending much time on that.

[2019-02-25 17:15] jessegreenberg commented on #54
Part of this might include creating a more concrete `trait` file that defines our pattern for this. Right now the pattern for using `mixin`/`trait` involves re-writing the code each time for modifying the prototype and everything else.

[2019-03-07 18:40] zepumph opened #55 "Investigate Poolable.maxSize to test quickly for memory leaks"
From https://github.com/phetsims/sun/issues/432, we think that seeting the maxSize to zero could help us find memory leaks faster.

@jonathanolson  said that increasing the number of pooled object allocations in the pool shouldn't be a problem.

This test will be performed by @jbphet to see if there is a memory leak.

@jonathanolson said that phet-core doesn't support query parameters, so we can't

[2019-03-18 20:29] jbphet commented on #55
I tested this by setting the pool sizes to zero, which just forces all pool allocations to call the constructor.  The result was that the sims use less memory overall, but leaks at the same rate.  I think this probably means that it's not a problem with the pools.

There still seems to be a slow memory leak, or maybe it just takes a lot of fuzzing for all of the pools to get full.  At any rate, th

[2019-03-19 16:18] jonathanolson commented on #55
This seems like something that would be beneficial for things I do, so I'm happy to volunteer.

[2019-03-19 21:01] jessegreenberg opened #56 "Enumeration documentation is out of date"
There was a time when `Enumeration` API involved strings, so that
[code]
would set up
[code]
(example taken directly from file documentation)

But it has changed so that we avoid working with strings entirely. Now `Enumeration` works with opaque objects, so the above example in documentation should be changed to reflect this.

This is also true for `includes`, which does not take a String, but req

[2019-03-19 21:15] pixelzoom commented on #42
@samreid said:

In Slack dev discussion today, it was noted that this is not the case.  There are outstanding issues (e.g. lack of `valueType` support) with no obvious "related issue".   So reopening until all of the checklist items in this issue have been addressed, or have a specific issue number next to them.

[2019-03-19 21:15] pixelzoom commented on #42
Assigning to @jonathanolson to complete, since he was the author that I was doing the review for.

[2019-03-19 21:17] samreid commented on #42
Sam Reid [3:13 PM]
https://github.com/phetsims/phet-core/issues/49 was linked near the bottom of https://github.com/phetsims/phet-core/issues/42
And it quotes the same `- [ ] Enumeration doesn't play well with Property validation.`  item

Michael Kauzmann [3:15 PM]
That seems like a reasonable outcome. and like it handles the topic. We are now just in a better place to improve on the previous solu

[2019-03-19 21:19] pixelzoom commented on #42
There are 7 occurrences of "(UPDATE: see related issue)" next to the review items that I identified.
Feel free to replace these with specific item numbers.  When ever item has been addressed or clearly moved to another issue, then we can close this issue.

[2019-03-19 21:21] pixelzoom commented on #42
"(UPDATE: see related issue)" edits were made by @samreid on 12/8/18.

[2019-03-19 21:27] pixelzoom commented on #42
A new item came up in today's Slack dev discussion:

- [ ] Enumeration values are object literals of the form `{ name:string, toString:function }`.  There were many questions about this. There is no information about the visibility of fields.  Are the objects intended to be opaque? Is it OK to explicitly call `toString`? What is the purpose of `name`, since it's not used anywhere in Enumeration?

[2019-03-19 21:27] pixelzoom commented on #56
There should probably be deleted, because they are just plain wrong:

[code]

[2019-03-19 22:23] jessegreenberg commented on #56
I updated the examples in the documentation and removed everything that indicated Enumeration values were strings. This seems straight forward enough to just close, but @pixelzoom @jonathanolson feel free to take a look or change anything.

[2019-03-19 22:23] #56 closed

[2019-03-19 22:24] jessegreenberg commented on #42
Related to https://github.com/phetsims/phet-core/issues/42#issuecomment-474591114, should public `this.KEYS` be removed if we shouldn't be using strings?

[2019-03-20 14:25] samreid commented on #42
Agreed, it looks like `KEYS` are unused and should be removed.

[2019-03-20 14:36] KatieWoe opened #57 "CT merge test multiple objects failed and merge minor change failed"
[code]

[2019-03-20 14:57] jessegreenberg commented on #57
Thanks for making an issue @KatieWoe. I think @mbarlow12 was working on merge so I am going to send this his way, but let me know if I can help.

[2019-03-20 15:05] mbarlow12 commented on #57
Just pushed the fix; removed the failing test while we're sorting out how merge is going to work.

[2019-03-21 15:41] KatieWoe commented on #57
Looks good.  Closing

[2019-03-21 15:41] #57 closed

[2019-03-23 00:42] pixelzoom opened #58 "mergeTest.js introduces a dependency on axon in phet-core"
Related to https://github.com/phetsims/phet-info/issues/91, the creation of merge.js.

While working on another issue, I noticed that mergeTest.js contains a dependency on axon:

[code]

I believe that it's generally problematic for phet-core to dependent on axon (circular dependency?) And all other `require` statements in phet-core .js files uses `PhET_CORE` exclusively.   Perhaps this constraint

[2019-03-24 15:58] mbarlow12 commented on #58
Thanks for spotting this; I'll update the tests to use object literals instead as that will be more generic. The recent changes to merge on Fri. appear to allow for that.

[2019-04-15 17:01] pixelzoom opened #59 "namespacing of inner classes"
This issue captures decisions related to our 4/15/19 discussion of the Namespace pattern in [phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#namespace), led by @jonathanolson.

"Class" herein means classes and types.

Decisions:

* Namespacing of inner classes is no longer required. @pixelzoom will update code-review checklis

[2019-04-15 17:38] pixelzoom commented on #59
Done, closing.

[2019-04-15 17:38] #59 closed

[2019-05-23 02:39] ariel-phet commented on #58
Since Michael has now moved on, reassigning to @pixelzoom to see if this can be closed.

[2019-05-23 15:56] pixelzoom commented on #58
Looks good, closing.

[2019-05-23 15:56] #58 closed

[2019-06-03 15:56] samreid opened #60 "Add a module to assert options are mutually exclusive"
From https://github.com/phetsims/scenery-phet/issues/498#issuecomment-498109080

A note about mutually exclusive options.  Slider.js already has this code:

[code]

I don't see any logic about requiring these options to be mutually exclusive.  Similar options will be added for track, and I created a library for asserting the options are mutually exclusive.  In the case of the track, the usage is l

[2019-06-03 15:58] samreid commented on #60
The mutual exclusivity feature is catching occurrences in

* coulomb's law
* molecules-and-light

where `thumbNode` and `thumbSize` are both being specified.  It seems nice to be able to detect and prevent this kind of problem.

[2019-06-03 15:59] samreid commented on #60
From slack:

Sam Reid [12:56 PM]
I’m looking for library support for mutually exclusive options.  Like if options.a was passed in, then options.b and options.c must not be passed in.  And conversely, if options.b OR options.c was passed in, then options.a cannot be.  Is there some lodash support for that?  Or what is a good starting point?

Jonathan Olson [12:57 PM]
I’m not aware of any. I think o

[2019-06-03 16:00] samreid commented on #60
I found I could get a better assert message if switching to `assertMutuallyExclusiveOptions`, so I've moved in that direction.

[2019-06-03 16:06] samreid commented on #60
I committed to master, this part is ready for review.  Currently the only usage is in Slider.js which will be up for review soon as part of https://github.com/phetsims/scenery-phet/issues/498.

[2019-06-14 14:43] samreid commented on #60
In https://github.com/phetsims/scenery-phet/issues/498#issuecomment-499654770, @pixelzoom said:

Anything else for this part?  Do we need to survey other places to use this, or have a public service announcement about it?

[2019-06-14 19:09] pixelzoom commented on #60
I'm guessing that cost to survey other places to use this outweighs benefits. So I don't think it's necessary.

A PSA for new features is always useful.

[2019-06-17 15:54] samreid commented on #60
Marking for dev meeting public service announcement.

[2019-06-20 16:46] samreid commented on #60
@ariel-phet requested to discuss this at another dev meeting when there are more developers.

[2019-06-25 22:48] jessegreenberg opened #61 "JSDoc for Enumeration and Enumeration values"
There was some discussion over slack and we decided to briefly talk about with the team. What is the correct JSDoc to annotate Enumerations and Enumeration values? For an enumeration, is the following correct?

[code]

When writing JSDoc for a value of MyEnumeration, is the following correct?
[code]

[2019-06-25 23:38] samreid commented on #61
We discussed conventions in https://github.com/phetsims/phet-core/issues/53 and documented them in https://github.com/phetsims/phet-core/blob/master/js/Enumeration.js.

For masses-and-springs/js/intro/model/IntroModel.js, it seems incorrect to assign enumerations as instance properties.  It seems they would be better as statics or static properties.

Here's a patch that demonstrates how to apply t

[2019-06-26 16:13] jessegreenberg commented on #61
Thanks @samreid, that looks good. The only difference between this and #53 is that it was decided that Enumerations don't need to identify that they are enumerations in the name like `LengthType` instead of `LengthTypeEnum`. There was some talk about this on slack recently too, should we re-assess this?

Following with the above example, lets say we have a function `setLengthMode` that takes one o

[2019-06-26 17:03] samreid commented on #61
I agree we decided Enums don't need to end with `*Enum` suffix.  For the JSDoc, I think we are treating the enums like types and we are treating the enum values as instances of those types, so it would be documented like this:

[code]

[2019-06-26 18:53] jessegreenberg commented on #61
Awesome, thanks! This confused me, I thought it was odd to think of Enumeration values as instances of the Enumeration.  But I noticed this is how Java does things too.
![tempsnip](https://user-images.githubusercontent.com/6396244/60206667-28a93a80-9822-11e9-93c2-25fc07c11206.png)

[2019-06-26 19:06] jessegreenberg commented on #61
I added point (6) about Enumeration under the other "Considerations for using Enumeration"
[code]

[2019-06-27 22:44] zepumph commented on #61
We discussed this today in the developer meeting, and the consensus that @samreid and @jessegreenberg outlined above was spot on.

I updated the code review checklist, and created https://github.com/phetsims/masses-and-springs/issues/349. I think this is ready to close.

[2019-06-27 22:44] #61 closed

[2019-06-28 18:40] zepumph opened #62 "assertMutuallyExclusiveOptions could use more doc/examples"
From https://github.com/phetsims/scenery-phet/issues/451, I am thinking that I should use this function in `NumberControl`, but I don't really understand what it does just from looking at it. I will add doc as I learn about it for my usage.

[2019-06-28 19:50] zepumph commented on #62
Committed above. @samreid does that look reasonable to you?

[2019-06-29 02:18] samreid commented on #62
These examples look great, thanks!  I realized I had done something similar in phet-core/js/assertMutuallyExclusiveOptionsTests.js but hadn't referenced it in phet-core/js/assertMutuallyExclusiveOptions.js.  Ready to close, but @zepumph feel free to reopen if you want to make changes in light of the *Tests.js file.

[2019-06-29 02:18] #62 closed

[2019-07-25 18:50] ariel-phet commented on #60
Marking as high priority so this gets PSA'ed

[2019-08-05 16:59] samreid opened #63 "EnumerationIO type name should have unique identifier"
Similar to https://github.com/phetsims/axon/issues/257

[2019-08-05 17:02] samreid commented on #63
Some raw notes from discussion:

goal: type name should be unique

1. name with values. "EnumerationIO(ZEBRA,BABOON,LUMPSUCKER)"
2. name the type. "AnimalTypeIO"

const myEnum1 = new Enumeration('A','B')
const myEnum2 = new Enumeration('A','B') // gets assigned _2

We are leaning toward (1) with assertions to guard.

[2019-08-08 18:20] pixelzoom commented on #60
8/8/19 dev meeting: @samreid will add doc for `const assertMutuallyExclusiveOptions = function( options, ...sets ) `, then close.

[2019-08-14 19:17] KatieWoe opened #64 "iOS 13 Full Screen enabled"
When looking at sims in the iOS 13 beta, we noticed that the full screen option is available in the phet menu.  It generally looks poor, but does not behave quite as badly as previous iterations from what I saw in my quick testing.
@samreid requested a user-agent check.  These are the results:
User-agent header sent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like G

[2019-08-14 19:21] samreid commented on #64
Is this running on a device or simulator?

[2019-08-14 19:22] KatieWoe commented on #64
Device.  Using the beta version of ios 13

[2019-08-14 19:57] jonathanolson commented on #64
Interesting user agent. I'd be curious to see the user agent of newer desktop/laptop Safari betas. I'll check around at whether this change was made to stifle lots of iOS-detection code.

[2019-08-14 19:57] jonathanolson commented on #64
I'd also like to know what device was used, this may be different based on iPhones vs iPads.

[2019-08-14 20:32] KatieWoe commented on #64
The device was a new iPad that @oliver-phet ordered the other day.

[2019-08-14 20:38] oliver-phet commented on #64
That would be a iPad 9.7 (6th generation 2018) model number A1893.

[2019-08-14 20:54] jonathanolson commented on #64
https://www.macrumors.com/2019/06/06/safari-on-ipados-optimized-for-desktop-websites/ indicates that it's an intentional change for iPads, to display/handle things more like a desktop browser would. @ariel-phet, thoughts on whether this is desirable on newer iPad iOS versions to NOT detect as mobile safari?

It may be worth an investigation into what we are using that detection for.

[2019-08-22 05:47] ariel-phet commented on #64
@KatieWoe you said:

 It generally looks poor, but does not behave quite as badly as previous iterations from what I saw in my quick testing.

Can you be a bit more specific about what the issues are in full screen with this version?

[2019-08-22 15:07] KatieWoe commented on #64
https://drive.google.com/file/d/1pM4t8-t05xMBaf3mJ_y1I4b2PhTEtZKM/view?usp=sharing
This video shows some of the behavior.  In general, the biggest thing relating to full screen was that it leaves a large black space at the bottom of the screen.  Reorienting the screen can solve this.

[2019-08-22 15:13] KatieWoe opened #65 "iOS 13 Reorienting screen can put sim in corner"
Found when looking at https://github.com/phetsims/phet-core/issues/64.
If you start a sim in portrait, move to landscape, and then move back to portrait, the sim will shift to take up only the upper left corner of the screen.  You must be out of full screen to achieve this, but once you have, full screen will show the bug as well.
![Image from iOS (1)](https://user-images.githubusercontent.com/410

[2019-08-22 19:52] zepumph commented on #63
Currently, especially from work in phetsims/tandem#100, EnumerationIO type names have unique identifiers (their values). Further cleanup will be done in https://github.com/phetsims/phet-io/issues/1545. @samreid can this issue be closed?

[2019-08-29 17:14] jessegreenberg commented on #64
I found 18 usages of `platform.mobileSafari` in sims. Most related to performance/memory/enabling webgl. I found two usages related to initializing sound that may be important. Some a11y features used to be disabled on mobileSafari because they were broken/unsuported on that browser. Those have since been removed but it was very useful to have that platform info.

[2019-08-29 19:08] Denz1994 commented on #64
From dev meeting: 08/29/19

@jonathanolson mentioned it would be worth checking all the current detection methods and check against iOS 13 for what would be useful for desktop versions. We should start pushing on this before full release so testing is done during maintenance releases.

[2019-09-03 20:11] ariel-phet commented on #65
@jonathanolson said today he will investigate while he has the iOS 13 iPad

[2019-09-05 16:16] jonathanolson commented on #64
iOS/iPadOS 13, more detailed notes at https://developer.apple.com/documentation/safari_release_notes/safari_13_beta_6_release_notes

Full screen (https://github.com/phetsims/phet-core/issues/64) and orientation (https://github.com/phetsims/phet-core/issues/65) issues: Seems like using the new Visual Viewport API and other listeners helps to detect the "resulting" size. The full screen feature seem

[2019-09-05 17:09] jonathanolson commented on #64
Also, I can look more into detection. It looks like there are certain hardware-detectable levels of WebGL support (e.g. maximum viewport size) that might be usable as a proxy of performance, but that's unclear.

[2019-09-05 17:13] jonathanolson commented on #65
Should be fixed in master (as part of the commit for https://github.com/phetsims/phet-core/issues/64), can you verify?

[2019-09-05 17:22] jessegreenberg commented on #64
Bluetooth keyboards on iOS were broken because keycodes were not reported on that platform, so we are hiding the keyboard help dialog there. If we can use BASE or friction on iOS with a bluetooth keyboard we can be certain this problem is resolved. Or maybe we can just decide it is acceptable to show the dialog anyway.

[2019-09-05 18:07] KatieWoe commented on #64
@jonathanolson anytime today I can work with you on the iOS 13 checks.  I would need the device as it is the only one with iOS 13 on it.

[2019-09-05 18:17] jonathanolson commented on #64
I'll plan to drop it off after dev meeting.

[2019-09-05 20:43] KatieWoe commented on #65
Looks good on master.  Checked two different sims

[2019-09-09 23:00] jbphet commented on #64
It does.  The problem it causes was already found by QA and reported in https://github.com/phetsims/tambo/issues/78 (nice work @KatieWoe).  I just ran several experiments, and I believe that I can rewrite the code that was detecting Mobile Safari to work more generally, but it will require QA to verify it and a maintenance release once it's ready.  The details of the problem and the fix will be in

[2019-09-10 15:00] samreid commented on #52
I haven't made time for this issue yet, and would like to check in with @ariel-phet about it.  I also recall we discussed this topic at a developer meeting and concluded that not all inner classes need to be namespaced.  I'm happy if you want to schedule it for consideration at an upcoming dev meeting.

[2019-09-10 17:55] jbphet commented on #64
The platform-specific code for sound support has been removed.

[2019-09-11 01:58] ariel-phet commented on #52
Putting back on dev meeting, perhaps someone else can tackle

[2019-09-17 16:08] KatieWoe commented on #65
For https://github.com/phetsims/QA/issues/427.  If you have the sim in portrait.  Lock the iPad by pressing the upper right button, and then unlock it, the sim will be in the corner.  If you reorient it fixes itself.

[2019-09-17 16:13] KatieWoe opened #66 "iOS 13 Full Screen: Dragging items down exits full screen"
For https://github.com/phetsims/QA/issues/427.
Dragging the sim down with one finger causes iOS to exit full screen.  However, if you are dragging an object down this activates even when you have clearly grabbed and are dragging the object in question.  Only seems to happen if you start by dragging down.  Good example is dragging the litmus paper into the solution in acid-base-solution
@ariel-phet

[2019-09-17 16:29] KatieWoe opened #67 "iOS 13 Full Screen: frequently thinks you are typing"
For https://github.com/phetsims/QA/issues/427
When in full screen mode using the sim normally the iPad will periodically put up this warning:
![Image from iOS](https://user-images.githubusercontent.com/41024075/65060859-e6c9f500-d935-11e9-9aa9-f7a762cff754.png)
Seems to happen when clicking rather than dragging, such as when selecting show answer in a game, but it doesn't seem consistent.

[2019-09-17 16:41] KatieWoe commented on #67
Documented and found fairly frequently using Area Builder.

[2019-09-17 16:54] KatieWoe opened #68 "Depressed buttons on iOS 13 look wrong"
For https://github.com/phetsims/QA/issues/427.  Not related to that update however.
The image for the depressed button that starts a wave seems wrong on iOS 13
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/65062297-fb5bbc80-d938-11e9-8d65-56a10ebd4962.png)
![Image from iOS](https://user-images.githubusercontent.com/41024075/65062298-fb5bbc80-d938-11e9-8b9f-25eb0c6ef497.p

[2019-09-17 17:10] jonathanolson commented on #68
If there's something wrong with rendering, I'd also be worried that the bug would be present in desktop Safari. Do we have any betas for that?

[2019-09-17 18:54] KatieWoe opened #69 "iOS 13: Going back and then forward in to a sim can cause a freeze"
For https://github.com/phetsims/QA/issues/427.  Only seen on Blackbody Spectrum so far, but probably in others as well.
If you are in the sim, swipe to go to the previous page, then swipe back to the sim, the sim will be frozen and can't be manipulated.

[2019-09-17 19:58] KatieWoe commented on #67
If this pops up while you are exiting full screen everything crashes, the images can be off screen or too small, and even reloading the page doesn't help, you need to go back and follow the link again.  Unfortunately, getting this to happen seems random.

[2019-09-17 21:20] jessegreenberg commented on #64
In https://github.com/phetsims/QA/issues/428 @KatieWoe confirmed that bluetooth keyboards work well with our sims on iOS 13 with Safari.

[2019-09-18 21:37] jonathanolson commented on #65
This does look like an issue, however iPadOS is reporting the incorrect window.innerWidth and window.innerHeight, so it's not just an event listener that would be needed. I haven't figured out a workaround yet.

[2019-09-19 15:10] samreid commented on #68
This problem seems related to sun, so I'll transfer the issue there.

[2019-09-19 17:20] jonathanolson commented on #65
I haven't found a working work-around for this. We properly receive the events that the sim has resized, but we're being given buggy information (even after), so I'm somewhat at a loss of how to fix it besides submitting a bug report.

[2019-09-19 18:04] jonathanolson commented on #67
It looks like this is an iOS 12 feature for full-screen, so it's not new. Probably no good way to prevent it that I'm aware of.

[2019-09-19 18:21] jonathanolson commented on #67
![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2019-09-19 at 12 20 55](https://user-images.githubusercontent.com/480878/65270240-f84b0280-dad7-11e9-963b-517576fc5cef.png)

I can reproduce this on 13.0. The only way I see to prevent this is to prevent full-screen.

[2019-09-19 18:23] jonathanolson commented on #66
This is also present in 13.0, and I don't have a good way to handle this other than preventing full-screen.

[2019-09-19 18:33] Denz1994 commented on #52
Discussed at dev meeting: 09/19/19

Not all types need to be name spaced, but if they should be done correctly. This is only an issue during namespace collisions and may be an issue for third parties.

Namespace only knows of nested types based on the dot notation.

Code review checklist has been adjusted to make sure the dev includes the dot for the inner class.

We will close this issue and make

[2019-09-19 18:33] #52 closed

[2019-09-26 15:20] jonathanolson commented on #64
@ariel-phet is there anything else to do? Should we have a conversation about whether I should go more down the route of detection?

[2019-09-26 15:21] jonathanolson commented on #67
@ariel-phet thoughts on what to do here? I doubt there is a technical way around this besides preventing full-screen, but I don't have a good idea of how often this would happen.

[2019-09-27 15:15] jessegreenberg commented on #64
The a11y team found another case where it would be nice to detect mobile iOS. It would be helpful to have that detection in the future if possible.

Here is one recommendation on how to detect post iOS 13:
https://stackoverflow.com/questions/58019463/how-to-detect-device-name-in-safari-on-ios-13-while-it-doesnt-show-the-correct

[2019-09-30 17:31] zepumph opened #70 "merge should assert that it has at least one source"
Today in a design meeting, @jbphet and @samreid said a bug they have run into with `_.extends` is forgetting to add the "options" object as the second argument, like:

[code]

`_.extend` doesn't treat this as an issue, but we think that `merge` should. I'll add the assertion.

[2019-09-30 17:37] zepumph commented on #70
I added the assertion above. @jbphet will you please review. I also added a test for it (which is passing with the rest of them), and found that vector-addition, wave-interference, and gravity-force-lab all run (chosen based on current usages of `merge` in the project.

[2019-09-30 17:52] zepumph opened #71 "Use PHET_CORE/merge instead of _.extend"
This issue is to discuss and implement the conversion of our extending pattern of options from using `_.extend()` to `merge()`.  At today's design pattern meeting, there were no objections towards moving to a "always use merge" pattern.

Action items:
- [x] Make sure all developers know about this change.
- [x] Update documentation to reflect this change in pattern.
- [x] Investigate updating prev

[2019-09-30 19:16] jbphet commented on #70
The added assertion looks reasonable to me.  The commit appears to include some other changes to the format of the closures in `mergeTests.js`.  I **think** these look okay too, but I haven't used `assert.throws` explicitly myself, so I'm assigning back to @zepumph (as opposed to just closing) in case he wants more scrutiny on this part.  He can close at his discretion if he's confident on that pa

[2019-09-30 19:58] #70 closed

[2019-10-01 15:33] jonathanolson commented on #65
I can't reproduce this on my iPhone. Can we verify if this is a problem on the live 13.1 iPadOS?

[2019-10-01 18:13] jonathanolson commented on #64
Using `navigator.maxTouchPoints > 1` sounds like a fairly decent way to detect right now, as long as newer desktop Safari wouldn't switch to increase that number.

[2019-10-02 02:09] chrisklus opened #72 "Replace toCamelCase with _.camelCase"
Quick dev meeting issue - I needed to convert a multi-word enumeration value to a Tandem string (`OLIVE_OIL` -> `oliveOil`), which requires some sort of `toCamelCase` function.

The `toCamelCase` in phet-core only supports strings with hyphens, but enum values use underscores as word separators. Lodash's `_.camelCase` supports spaces, hyphens, and underscores. I propose we delete `phet-core/toCame

[2019-10-02 03:26] samreid commented on #72
`_.camelCase` is preferable to `toCamelCase.js` and the occurrence in `createSim`, I agree we should delete those and use lodash instead.  There is another copy in chipper/eslint/rules/string-require-statement-match.js which should use lodash.  I see the occurrence in Client.js, but I don't know that it can rely on lodash, so it may need to remain for now (maybe use one of the simpler implementati

[2019-10-02 03:51] chrisklus commented on #72
I noticed that `_.merge` is used on line 1106 of Client.js, so I think lodash is usable in that file.

I agree that your code snippet above is preferable for tandem naming, and that's how I originally implemented `beforeFreeze`. However, from a Slack discussion (included below), it sounds like duplicating the enum values is also breaking a convention. I'm open to either implementation.

My message

[2019-10-02 12:42] samreid commented on #72
Would something like this work?

[code]

[2019-10-02 15:27] KatieWoe commented on #65
It does happen on the live iPadOS.  Can confirm that it is not an issue on iPhone

[2019-10-02 17:23] jonathanolson commented on #65
I can look into potential workarounds (that might not be pretty or performant at all), but I can't see any other avenues besides that or "wait for Apple to fix it". @ariel-phet thoughts?

[2019-10-02 22:01] chrisklus commented on #72
Yep, thanks!

[2019-10-03 16:23] samreid commented on #65
Have we given Apple a self-contained reproducible example and bug report?

[2019-10-03 16:24] jonathanolson commented on #65
Not for this issue yet.

[2019-10-03 17:33] zepumph commented on #72
This does not have any dependencies that aren't bundled in `phet-io.js`. I'm not that interested in adding lodash to phet-io.js, but could be convinced. Other usages are welcome to it to me.

[2019-10-03 19:16] chrisklus commented on #72
From 10/03/19 dev meeting:

No objections to this change, so I'll proceed with removing implementations and replacing usages. The usage of `_.merge` I found in Client is currently a bug, so we may decide to leave that implementation of `toCamelCase`, depending on decisions made in https://github.com/phetsims/phet-io-wrappers/issues/300.

[2019-10-08 18:58] ariel-phet commented on #64
After speaking with @jonathanolson I think we likely need a detection strategy again, and consider disabling full screen whenever we are on an iPad (since that has several problematic associated issues and we were disabling this feature in the past).

[2019-10-08 19:01] ariel-phet commented on #65
Considering @KatieWoe comment https://github.com/phetsims/phet-core/issues/65#issuecomment-532289924 this now seems like a less likely use case, and reorienting fixes the condition. Closing since does not seem realistic/worth fixing.

[2019-10-08 19:01] #65 closed

[2019-10-09 18:28] jonathanolson commented on #64
Fixed in master above. @jbphet we'll use the above commit (https://github.com/phetsims/phet-core/commit/91bb985a5eb37cff9b31836af7ddcace8be32a34) in our maintenance release. It's written so it shouldn't be dependent on es5/es6 or other historical factors.

[2019-10-10 01:34] ariel-phet commented on #67
In #64 we decided we should investigate detection of iOS 13 and attempt to disable full-screen in those cases. Referencing that issue here, and assigning @jonathanolson. If disabling full-screen works, then this issue should be moot and will be able to be closed.

[2019-10-10 01:36] ariel-phet commented on #66
In #64 we decided we should investigate detection of iOS 13 and attempt to disable full-screen in those cases. Referencing that issue here, and assigning @jonathanolson to include this issue as part of QA testing for the maintenance release. If disabling full-screen works, then this issue should be moot and will be able to be closed.

[2019-10-10 01:37] ariel-phet commented on #64
Note for @jonathanolson and @jbphet that #67 and #66 should be tested as part of the maintenance release (if full screen is disabled both these issues should basically become irrelevant).

[2019-10-10 23:37] zepumph commented on #71
I posted to the dev channel:

In new code, use merge instead of _.extend in call cases where you can require it.

[2019-10-11 02:14] zepumph opened #73 "ignoreUndefined allocates extra Array in merge"
From slack @pixelzoom said:

Has someone checked whether merge and _.extend result in the same number of object allocations?  This line in merge looks suspect, as it will allocate a new object for every object in argument sources: (edited)

[2019-10-11 02:15] zepumph commented on #73
@pixelzoom does that seem better to you?

[2019-10-11 05:35] zepumph commented on #71
I made a way to automatically convert usages of `_.extend` to `merge`, including adding the import. It is convoluted, and probably wasn't worth the time, but I'm happy, because. . . well . . . automation.

Here are the steps to reproduce:
1. pull all repos
2. Make sure you have NO working copy changes in any of the repos you are touching.
2. go to chipper/eslint/eslintrc.js and turn the `no-extend

[2019-10-11 05:38] zepumph commented on #71
Also note that I added a lint rule for this purpose, which supports the "fix" option, but I don't necessarily think it should stick around.

[2019-10-11 05:45] zepumph commented on #71
I updated documentation in https://github.com/phetsims/phet-info/commit/0d075cb732fd0060ddf85661f6266b10d42ef6b8 and https://github.com/phetsims/phet-core/commit/ed3bb6bc8dd74666b7493f1258024ba900c190de
![image](https://user-images.githubusercontent.com/6856943/66627148-3e5f2780-eba7-11e9-8d3d-d4260055ca94.png)

[2019-10-11 15:08] pixelzoom commented on #73
Yes, replacing `_.filter` with an `if` statement eliminates the unnecessary allocations.

I don't see any other unnecessary allocations, so closing.

[2019-10-11 16:03] zepumph commented on #71
@pixelzoom, after looking through #73, does the global replacement seem good for you?

[2019-10-11 16:08] pixelzoom commented on #71
yes, commented in the issue and closed it.

[2019-10-11 18:34] zepumph commented on #71
Add one more to the bug catch count!

[2019-10-11 18:39] pixelzoom commented on #71
That indicates that there is a missing test in mergeTest.  Should we correct that?

[2019-10-11 18:40] zepumph commented on #71
I do not think so. It was a faulty usage, not faulty merge code.

[2019-10-11 20:11] pixelzoom opened #74 "merge doesn't work with null sources"
Related to #71

`merge` is failing to handle `null` sources properly.  See console example below.

This is important for parameterized calls like `merge( {...}, paramOptions )` where `paramOptions` may have a null value.  It's also important to be compatible with `_.extend` if (as #71 says) we're going to globally replace `_.extend` with `merge`.   And I encountered this in the real world (vector-

[2019-10-11 20:13] pixelzoom commented on #71
https://github.com/phetsims/phet-core/issues/74 is a prerequisite to global replacement of `_.extend` with `merge`.

[2019-10-11 20:25] pixelzoom commented on #74
`merge( {}, null )` should also be added as a passing test case to merge.js.

[2019-10-11 20:28] pixelzoom commented on #74
I'll bet this was broken by #73, where `_.filter` was replaced by `if ( source !== undefined )`. `_.filter` removes values that are not truthy, and that is not limited to `undefined`.   So `if ( source !== undefined )` should be `if ( source )`.

[2019-10-11 20:28] pixelzoom commented on #73
Reopening, this broken compatibility with `_.extend`.  See https://github.com/phetsims/phet-core/issues/74#issuecomment-541212657.

[2019-10-11 20:39] pixelzoom commented on #74
For the same reasons as `merge( {}, null )`, I also don't agree that this should be a failing case, as shown in mergeTests.js:

[code]

[2019-10-11 22:11] zepumph commented on #74
Everything you say I agree with. That said it is this way because of a developer meeting consensus (at least that is what I read at the top of https://github.com/phetsims/phet-info/issues/91#issuecomment-519652587).

No matter, that was not a real-world example. This is. I'll change the usage and write tests to support it.

[2019-10-11 22:21] zepumph commented on #73
Thanks. I think it will be solved over in https://github.com/phetsims/phet-core/issues/74. Closing

[2019-10-11 22:21] #73 closed

[2019-10-11 22:22] zepumph commented on #74
Above I updated merge to support null in `*Options` and in sources. It will still error if `null` is the first arg. Please review @pixelzoom does this seem good to you?

[2019-10-14 23:04] lmulhall-phet commented on #64
For https://github.com/phetsims/QA/issues/438, QA would like to know if we should see a fullscreen option in the PhET menu on iOS 13 (iPhoneOS 13).

We are seeing a fullscreen option in the PhET menu on iPadOS 13.

[2019-10-14 23:04] pixelzoom commented on #74
Quick review of commits looks good, and unit test cases are passing.

[2019-10-14 23:05] pixelzoom commented on #74
This is a deviation from `_.extend` (see below) but hopefully no one is relying on it.

[code]

[2019-10-14 23:42] zepumph commented on #74
Right. I would go one step further and say that for phet code this seems like a bug to me, and we should be asserting out to catch these cases.

Here are a few other examples of _.extend being more graceful than I think we should be:
![image](https://user-images.githubusercontent.com/6856943/66789656-03a40a80-ee99-11e9-8662-d68c91ba1942.png)

This helped to catch two bugs so far in
https://github.

[2019-10-15 01:38] pixelzoom commented on #74
@zepumph said:

I agree.  Closing.

[2019-10-15 01:38] #74 closed

[2019-10-17 21:28] zepumph commented on #71
I'm in the process of fixing all active runnables not already touched currently, and it is going well. The scripts above are doing their job, and I will just make sure to test well, and monitor CT this afternoon. Commits likely coming soon.

[2019-10-17 23:24] zepumph opened #75 "Delete PHET_CORE/extend"
Now that we have `merge`, and are converting all usages like in https://github.com/phetsims/phet-core/issues/71, should we delete this?

[2019-10-17 23:47] zepumph commented on #71
I made the changes, and then, while testing, had to fix a number of spots. Most of them were simple, but a few cases had a potential to change sim code, and so I want to make sure that the responsible dev can have a look at them, if there is a dev next to the item, please review the commit for that specific file and check it off if there aren't problems, then you can unassign yourself:

* HookesLa

[2019-10-17 23:48] zepumph commented on #71
I also want to note that all the changes I did above felt like appropriate changes, like there were sneaky/lazy bugs in the code that where sitting there uncaught. `merge` caught them.

[2019-10-17 23:58] pixelzoom commented on #71
I reviewed the changes to my sims (hookes-law, graphing-quadratics, equality-explorer) noted in https://github.com/phetsims/phet-core/issues/71#issuecomment-543412546. All looks well.  Thanks for handling this.

[2019-10-18 00:00] pixelzoom commented on #71
Now that @zepumph has gone to the trouble of replacing `_.extend` with `merge` throughout, a couple of questions:

(1) Does this mean that `_.extend` is now verboten?

(2) If so, should `_.extend` be added to bad-text.js? If not, how do we prevent it from sneaking back in?

[2019-10-18 00:12] zepumph commented on #71
This didn't count phet-io-wrapper-sonficiation, which I had converted accidentally and was causing errors.

[2019-10-18 00:29] zepumph commented on #71
That would be a great question for the options/config design pattern meeting. I'll mark https://github.com/phetsims/chipper/issues/805 for developer meeting, and see if we want to cover that in the pattern meeting.

[2019-10-23 22:52] jbphet commented on #71
This was assigned to me to address a change from `extend` to `merge` in `BAAGameModel.emitCheckAnswer`.  When I looked at this code, it didn't appear at all familiar to me, so I checked the history of it.  Turns out it was added by @samreid in https://github.com/phetsims/build-an-atom/commit/81ebc9f7773a60953e2294b6a5d24609838c52d2.

@samreid - I'm turning this over to you to address, since it was

[2019-10-24 12:38] samreid commented on #71
It looks like this code is not buggy:

[code]

but it would be clearer as

[code]

It looks like only `ToElementChallenge` provides the `emitMessageOptions`.

I tested this proposed change for a `ToElementChallenge` and another type of challenge to see how `merge` would deal with an undefined arg, and it had the expected behavior.

I'll commit this change and double check with @zepumph that `merge

[2019-10-24 16:53] jonathanolson commented on #75
`merge` in no way works with ES5 getters/setters nicely, or prototype-style objects, right? Any time PHET_CORE/extend is used, I would strongly presume we should NOT swap in `merge` since it would likely break things.

[2019-10-24 17:00] zepumph commented on #75
Is that preferable to adding es5 getter support to merge?

[2019-10-24 17:12] jonathanolson commented on #75
It would be possible to potentially add support to merge, but PHET_CORE/extend was really used for different things so I think it's fine to keep it and have it used for different things.

[2019-10-24 18:05] zepumph commented on #75
That makes the most sense to me. I updated doc to specify this distinction. Does that feel good? Anything else here? Ready to close?

[2019-10-31 15:14] jonathanolson commented on #64
This was handled with the maintenance releases.

[2019-10-31 15:14] #64 closed

[2019-11-06 21:11] chrisklus commented on #72
Lodash is going to be added as a supplemental dependency for phet-io.js, so Client will be able to use Lodash's `_.toCamelCase`.

[2019-11-07 20:23] samreid opened #76 "Generalize Orientation"
Number Line Integers, Circuit Construction Kit and Area Model need an `Orientation` Enumeration.  We discussed on slack:

[code]

I'll look into updating the Area Model implementation to use Enumeration, so it will work seamlessly with PhET-iO (using EnumerationIO), then ask @jonathanolson to take a look.  If that checks out, we can move this to phet-core and update Number Line and Circuit Constru

[2019-11-07 20:32] samreid commented on #76
@jonathanolson said:

I'll work towards moving this to PHET_CORE

[2019-11-07 20:43] samreid commented on #76
OK I moved this to PHET_CORE.  Leaving assigned to @jonathanolson to see if there's anything else to do.  I'll also create an issue in number line to use this new common code, and I'll start using it in circuit-construction-kit (via scenery-phet).

[2019-11-07 20:59] samreid commented on #50
In https://github.com/phetsims/phet-core/blob/0406bbb48eae39fccfcb1ba49b29767496ac3ce0/js/Orientation.js @jonathanolson and I committed a pattern that leverages Enumeration and simulates a rich Enumeration.  @jonathanolson do you think that is good enough to close this issue and change the "Rich enumerations are not currently supported" section of the design patterns doc to refer to it?

[2019-11-07 21:45] zepumph commented on #71
Thanks @samreid, that seems good to me, and source is allowed to be undefined (because options are optional).

Pinging @Denz1994 and @jessegreenberg. Likely these are simple checks, but it would be good to have the responsible dev sign off before closing this.

[2019-11-26 20:55] samreid commented on #50
We have decided not to follow that approach for our Enumeration implementation.  Also, this issue has veered towards support for RichEnumeration, so I'll rename it as such.

[2019-11-26 21:03] samreid commented on #50
I experimented with support for rich enumerations, usage is like so:

[code]

The implementation overloads the Enumeration constructor like so:

[code]

I'd like to use this feature in Circuit Construction Kit, but I don't want to commit this to master without discussing it first.  @pixelzoom or @jonathanolson do you have time to take a look and discuss?

[2019-11-26 21:04] samreid commented on #50
If we decide to move forward with this idea, we can improve it by:
* Updating the JSDoc
* Asserting that the rich enumeration values don't bring their own `name` or `toString` values.

[2019-12-02 20:08] pixelzoom commented on #50
I'm not a fan of overloading constructors.  And now the implementation is getting squirrelly.  I.e. in this change:

[code]

.... there are now 2 entirely different (but functionally identical!) ways of setting `value.name` and `value.key`.  And the "PhET-iO public API relies..." comment is only associated with the second way, when it actually is true of _both_ ways of setting `name`.

Might it be

[2019-12-04 06:15] samreid commented on #50
I'm reluctant to create a separate type since most of the implementation will be the same, unless we decide that would be a preferable API.  Here is an implementation that addresses the following issues:

* Constructor arguments are not checked based on type, instead the config pattern is used internally
* The differing ways of setting `value.name` and `value.key` have been unified, and the commen

[2019-12-04 23:20] pixelzoom commented on #50
I have not reviewed the previous comment. I'd like to hear @jonathanolson's thoughts before spending more time on this issue.

[2019-12-05 17:57] jonathanolson commented on #50
The above looks good to me (although we may want to ensure that rich values don't have a `name` already existing that could get overwritten). Additionally, this now does NOT freeze the rich enumeration objects (or any actual enumeration values). Is it important to be able to freeze things, so `SomeMode.SOMETHING.name = 'foobar'` would be prevented after the enumeration is constructed?

That's also

[2019-12-05 18:08] samreid commented on #50
That is checked on this line of the proposal

[code]

I believe that can be accomplished with this line:
[code]

And I tested that with this new part of the unit test:

[code]

[2019-12-05 21:35] pixelzoom commented on #50
Proposed implementation in https://github.com/phetsims/phet-core/issues/50#issuecomment-561494563 looks good to me.

Is there (or should there be) verification that all values of a rich enumeration are of the same type?

[2019-12-05 23:09] samreid commented on #50
There is not currently a verification for that.  However, I'm wondering if we should support use cases like the following, where the `constructor` values are different:

[code]

If we want to support that, then all we need to check is that all of the objects share a common ancestor.  Which I think will generally be true (if everything extends Object).

[2019-12-06 02:14] samreid commented on #50
Thanks, I committed the implementation with revisions noted above.  Leaving assigned to @pixelzoom to finish discussing https://github.com/phetsims/phet-core/issues/50#issuecomment-562359527 and I'll open a new issue for investigating whether we can now eliminate `beforeFreeze`.

[2019-12-06 02:15] samreid opened #77 "Can Enumeration.options.beforeFreeze be eliminated?"
From https://github.com/phetsims/phet-core/issues/50, we now have rich enumerations.  Can we use that instead of `beforeFreeze` and delete `beforeFreeze`?

[2019-12-06 15:44] samreid commented on #77
It looks like occurrences of `beforeFreeze` dealing with enumeration values can be replaced with `Enumeration.byMap` values.  However, several occurrences are assigning static enumeration methods like `MyEnumeration.staticMethod(...)` using `beforeFreeze`.  I wonder if there is a better way for doing this.  Perhaps subtyping `Enumeration` and adding static methods would work?  Or maybe the `Enumer

[2019-12-09 16:34] jonathanolson commented on #77
Subtyping `Enumeration` sounds like something we'd do for a different class of enumerations, we really want to add methods to a single `Enumeration` object. I guess the freeze is to make sure we don't overwrite object values... maybe we could add a way of adding static information in another way? (An options object that gets extended into the enumeration object itself? A method `addStatic` or some

[2019-12-16 17:46] samreid opened #78 "Orientation should use rich enumerations"
Orientation was developed with an older pattern for rich enumerations, now that we have Enumeration.byMap, it can be improved.  See https://github.com/phetsims/phet-core/issues/50 and https://github.com/phetsims/phet-core/issues/77.

[2019-12-16 17:52] samreid commented on #78
I converted `Orientation` to use `Enumeration.byMap` in the above commit.  @jonathanolson can you please review at your convenience?

[2019-12-16 19:10] jonathanolson commented on #78
Looks good to me, thanks!

[2019-12-16 19:10] #78 closed

[2019-12-26 17:55] pixelzoom opened #79 "redundant code in EnumerationIO?"
For https://github.com/phetsims/tasks/issues/1017.

Possible redundant code in EnumerationIO:

[code]

[2019-12-26 17:58] pixelzoom opened #80 "InstanceRegistry silent ignores errors"
For phetsims/tasks#1017.

InstanceRegistry silent ignores errors that it catches.  Is that a problem? Is it accptable in production code?

[code]

[2019-12-27 21:05] samreid commented on #80
This is used to render components for binder reports.  @ariel-phet can you please prioritize and assign?

[2019-12-27 21:09] samreid commented on #79
@zepumph can you please take a look at this?

[2019-12-30 18:35] ariel-phet commented on #80
@chrisklus you have been involved in binder more recently if I recall - mind looking into this issue? Marking as medium priority to look into, but feel free to downgrade if you deem it not to be a pressing issue.

[2019-12-31 17:36] pixelzoom commented on #50
Re https://github.com/phetsims/phet-core/issues/50#issuecomment-562359527...  I've never encountered heterogeneous enumeration values.  What's the use case?  What do other developers think?   The point of enumerations is that their values are supposed to be opaque.  Heterogenous values means different APIs for different values, and that seems odd (and maybe indicative of a case where you shouldn't

[2020-01-02 18:10] chrisklus commented on #72
I've replaced almost all mentioned uses of `toCamelCase` with `_.camelCase` and deleted phet-core/toCamelCase.js.

There was one duplication of the function that ended up being needed, so I reverted that replacement back to its original state. The problem was for the lint rule string-require-statement-match.js, which verifies, for example, that the string `goldIIIChloride` is assinged to the varia

[2020-01-02 18:12] samreid commented on #72
I'm up for using `goldIiiChloride` so that we can standardize on using `_.camelCase`, if others are OK with that.  That lint rule just checks temporary variable names, so it won't end up in anybody's API.

[2020-01-02 23:39] chrisklus commented on #72
Oh cool, i'm fine with that as well. Do you recommend I assign the responsible dev to approve the required name changes or mark for developer meeting to get general approval?

[2020-01-03 03:29] zepumph commented on #79
I ended up just updating the validator to be much more specific. @samreid will you please review. I found that this was working in Projectile Motion (which has a few instrumented `EnumerationProperty` instances. I was a bit worried for a second because of how the cache works, and since IO types must have unique typenames with no overlap, but I think that since it is just based on the parameter (`e

[2020-01-03 23:54] pixelzoom commented on #79
Chris Malley 4:26 PM
I've done a pull-all.sh, build-a-molecule and masses-and-springs are both failing to start in requirejs mode with "Uncaught Error: Assertion failed: value is not a member of Enumeration [object Object]".  Ring a bell with anyone?

Michael Kauzmann:house_with_garden: 4:53 PM
In https://github.com/phetsims/phet-core/issues/79 I changed the validator to be more specific for Enume

[2020-01-04 00:20] zepumph commented on #79
@samreid, when I changed the validator here, most cases only improved, with more specific validation. One issue that was exposed from https://github.com/phetsims/masses-and-springs/issues/354 is that if there are two instances of an Enumeration that map to the same type name, then validation will fail.

This is because of how we use a cache for EnumerationIO where the cache key is solely based on

[2020-01-04 04:57] samreid commented on #72
I'm not 100% sure.  I know the dev team signed off on using `_.camelCase`, but perhaps we were unaware of this ramification.  I don't see a problem with it, but maybe someone else will see a problem.  Maybe run it past @zepumph or @pixelzoom at a minimum, or double check at dev meeting just to be safe.

[2020-01-04 16:01] pixelzoom commented on #72
`_.camelCase` behavior seems a bit odd.  It converts any uppercase char that isn't followed by a lowercase char, and that seems a bit presumptuous:

[code]

For comparison, the top Stackoverflow answer at https://stackoverflow.com/questions/2970525/converting-any-string-into-camel-case does what I'd expect:

[code]

That said, I can live with this constraint, since it doesn't present in the UI or

[2020-01-06 03:02] chrisklus commented on #72
Thanks @pixelzoom. Assigning to @zepumph to weigh in as well.

[2020-01-07 02:33] zepumph commented on #72
Should we post a bug report in lodash that we think that it should keep caps the same?

[2020-01-07 03:42] pixelzoom commented on #72
Based on https://stackoverflow.com/questions/15526107/acronyms-in-camelcase, there is no consensus or standard for what is camelCase.  Looking at the implementation of `_.camelCase`, I doubt that they would consider changing it.    So if we're not happy with the behavior of `_.camelCase`, I think we'd be better off writing our own.  But I have no problem with using `_.camelCase` and living with it

[2020-01-09 18:07] jonathanolson commented on #50
It seems cleaner to put data on enumeration values than creating functions to compute/extract values.

The most obvious alternative then is:
[code]
as opposed to:
[code]

[2020-01-10 17:29] samreid commented on #80
As a first step, please remove the try/catch (or put a console.log) and run a full binder harvest, then see if any exceptions are thrown.  If any are thrown, we should try to understand why a newly constructed Node cannot be rendered.

[2020-01-10 17:39] samreid commented on #79
@chrisklus and I discussed this problem and wanted to ask:

What if we change the EnumerationIO cache to be a `new Map` where the keys are `Enumeration` instances?  That way we can support multiple Enumeration instances with the same keys, and still have caching work as expected.   We feel it is too constraining to only support one Enumeration per key name set.  For instance, a sim could define `O

[2020-01-10 17:43] pixelzoom commented on #79
I didn't realize that caching currently had this limitation.  That definitely needs to be changed, especially in light on rich enumerations.

[2020-01-14 16:16] zepumph commented on #79
Yes, this should certainly be solved for `EnumerationIO`. The reason that it is buggy is because it is the only IOtype with parameter(s)  that aren't IO types. Thus I think making the EnumerationIO cache a `Map` sounds correct. Because this is the only type like this (search regex: `function \w+IO\( `) I think that we don't need to change any other types. @samreid does that sound reasonable to you

[2020-01-16 05:33] zepumph commented on #50
If I understand correctly, I think I tend to agree more with @jonathanolson and @pixelzoom than with @samreid. I can't think of a use case in which this would be needed, and couldn't be solved by using `beforeFreeze`. That said maybe I'm to ingrained in the current pattern, but I see nothing wrong with `PhotonTarget`, and don't need to see a data structure encapsulate the molecule name inside each

[2020-01-16 20:09] jbphet commented on #50
The question of whether the enumeration values all need to be the same type was discussed in the 1/1/2020 developer meeting.  The current thinking is that yes, they should be the same type.  However, there may be a point in the future where it would make sense to have them share a common base class but not be exactly the same class.  If that arises, we will revisit, and may do something like provi

[2020-01-16 22:50] samreid commented on #50
I added an assertion that all enumeration values have the same constructor when using `byMap`, and I added a unit test to confirm that assertion failure.  @pixelzoom would you like to review?

[2020-01-17 17:17] pixelzoom commented on #50
Looks good, closing.

[2020-01-17 17:17] #50 closed

[2020-02-11 00:24] pixelzoom commented on #79
It sounds like keys must currently be unique across Enumerations, and I hit this in Normal Modes (see https://github.com/phetsims/normal-modes/issues/34).  If that's indeed the case, then that defeats the whole point of Enumeration, and this should be addressed with high priority.

[2020-02-11 00:45] zepumph commented on #79
In the above commit I added support for this with EnumerationIO and when it is used in PropertyIO. I did this by using `Map`, and was careful to see what Map methods were supported by IE.

It was easy and obvious to add this to EnumerationIO, but it took a bit to understand that the problem is compounded via parametric types using EnumerationIO as a parameter type. To support PropertyIO I added a

[2020-02-24 20:58] pixelzoom commented on #42
Labeling for dev meeting to figure out how to take this issue to the finish line.

[2020-02-28 16:50] samreid opened #81 "merge JSDoc type param shows an error"
Discovered in https://github.com/phetsims/energy-skate-park/issues/202, merge usage shows a type error like so:

![image](https://user-images.githubusercontent.com/679486/75568037-c5565480-5a0f-11ea-8549-fb6ff4047716.png)

[2020-02-28 16:52] samreid commented on #81
After the change, WebStorm no longer shows a type error for that argument.  @zepumph can you please review?  It should be a quick one.

[2020-02-28 16:58] #81 closed

[2020-03-05 19:24] samreid opened #82 "Convert usages of inherit to use class"
At today's dev meeting, we discussed that it would be very helpful to have Node.js as a `class` instead of `inherit`.  Some notes from discussion:

SR: Path to converting Node.js to es6?
CK: huge +1
JO: How about a semi-automated step that auto-converts everything?
CM: A main obstacle will be “this” before “super”

[2020-03-05 19:27] samreid commented on #82
Or we could investigate making inherit able to extend classes.  @jonathanolson said he doesn't remember why that wasn't already supported, but pointed out that might work.

We could also do this manually as a chip-away, there are only 2000 occurrences or so.

[2020-03-05 19:28] pixelzoom commented on #82
It might be nice to write a script/task that identifies "this before super" cases.  Then fix those before running an automated task that does conversion.

[2020-03-05 19:28] samreid commented on #82
Maybe use Esprima as a parser step?

[2020-03-05 19:30] pixelzoom commented on #42
3/5/20 dev meeting:  @jonathanolson will get on it.

[2020-03-10 16:37] jonathanolson commented on #42
KEYS is now used in EnumerationIO, maybe it should be kept?

We have usages and use cases where it makes sense for `value.name` and `value.toString()` to be public, so I've marked them as such.

That seems tricky to have specifically for documentation, as Enumeration.byMap wouldn't be using EnumerationValue, so we'd presumably have to have the same `value.name = ` setter and duplicate code/documen

[2020-03-10 16:40] jonathanolson commented on #43
I treat the enumeration as defining a type, so that we can document things as being "that type".

It seems the remaining task here is to:

1. Discuss with the team (or inform), so I'm tagging for developer meeting.
2. Decide whether we should have a lint rule.

We don't have lint rules for naming classes or most other things, so I'm not too worried either way on (2).

[2020-03-10 16:41] jonathanolson commented on #42
Also saw that the original top issue description may have been updated, I was just looking at things since the issue was re-opened. I'll scan those.

[2020-03-10 16:42] pixelzoom commented on #42
The 2 things that @jonathanolson called out in the previous comment were proposed by @samreid and @zepumph respectively.  So I'm assigning to them in case they want to discuss further.

[2020-03-10 16:44] pixelzoom commented on #42
The 2 things that @jonathanolson called out in https://github.com/phetsims/phet-core/issues/42#issuecomment-597186685 were proposed by @samreid and @zepumph respectively.  So I'm assigning to them in case they want to discuss further.    I don't have any other strong feelings on Enumeration, I'd just like to see the review completed.

[2020-03-10 16:58] jonathanolson commented on #42
It doesn't seem like an exception, as it's defining a type. Classes or types also are object instances in JS. see https://github.com/phetsims/phet-core/issues/43

That's convention, and I think it's up to developers whether we want to enforce it (presumably could be done in Enumeration.js itself, but I'd like to wait to see if it's desired first).

Does not seem to happen anymore (at least in stri

[2020-03-10 16:59] jonathanolson commented on #42
So... I'd like to change `KEYS` and `VALUES` to `keys` and `values` respectively, that would probably be good to discuss briefly at dev meeting. Otherwise I believe everything else is handled, unless @samreid or @zepumph want to recommend further changes.

[2020-03-10 17:08] pixelzoom commented on #42
Indeed, we decided long ago to use class-like names for enums.

Looks like it's more than a convention, it's enforced on line 99:

[code]

Most of the other things in https://github.com/phetsims/phet-core/issues/42#issuecomment-597197956 are indeed things that were addressed long ago.  That's the problem with not resolving review issues promptly.

[2020-03-12 18:37] jessegreenberg commented on #42
After discussing 3/12/20, no one had a strong preference one way or the other and so we are going to drop this point. Everything else has been addressed for this issue so we can close.

[2020-03-12 18:37] #42 closed

[2020-03-12 18:37] samreid commented on #42
My thoughts from the discussion:

I don't feel strongly and would be OK with upper or lowercase `keys` and `values`.  That being said, it seems we are treating enumerations such as `Animals` as types, and hence upper-case makes sense.  Also, if we want the enumeration values such as `Animals.COWS` to be upper-case, it makes sense to treat `KEYS` on equal footing.

[2020-03-12 18:44] jessegreenberg commented on #43
This was discussed with the team in #42.

Yes, this should be a lint rule. @jessegreenberg (with help from @Denz1994) will create the lint rule.

[2020-03-14 14:36] samreid commented on #79
I think I understand the proposed pattern, but I'm having trouble visualizing how this will be applied throughout a type "tree".  For instance, let's say I have `PropertyIO(FunctionIO(EnumerationIO))`.  How will this be cached?

Also, I think this is your vision, but a note to myself for as we continue discussion.  The code like this in `PropertyIO`:

[code]

Seems like it will ultimately become

[2020-03-17 00:46] zepumph commented on #79
This isn't quite the same as what I have in my mind currently. Can't this line just become:

`const cacheKey = parameterType;`

Then we wouldn't even need to have a public cacheKey. I thought that was the value in making things a map in the first place. I'm not sure what I was thinking adding `cacheKey` to be used by Property. Let's talk more!

[2020-03-23 18:09] pixelzoom commented on #82
Unassigning. All of my sims have already been converted to class (see https://github.com/phetsims/tasks/issues/1026), and I'm unlikely to have time to work on this.  Feel free to ping me for feedback.

[2020-03-27 01:39] samreid commented on #82
I'm currently seeing 1676 occurrences of `import inherit`.

[2020-03-27 18:22] pixelzoom commented on #54
This came up again in the context of https://github.com/phetsims/sun/issues/257.  We are using mixin/trait heavily for scenery and a11y. Now we're adding it to UI components in sun and scenery-phet.  We need to guard against accidentally overriding properties of the host class.

Something as simple as this might do the job:

[code]

Labeling for developer meeting.

[2020-03-27 20:01] samreid commented on #54
I think @zepumph pointed out that `hasOwnProperty` is not sufficient to determine the existence of properties within the prototype chain.

[2020-03-27 20:08] pixelzoom commented on #54
Right, hasOwnProperty is not sufficient.  We need to look all the way up the class hierarchy.  Or I should say "up the prototype chain", since JavaScript really doesn't have classes.

[2020-03-27 20:17] zepumph commented on #54
`assertHasOwnProperties.js` was just created over in https://github.com/phetsims/sun/issues/257 and holds the logic that will likely be needed here for a general solution to test that items don't yet exist. Perhaps we can turn that into a function that returns a boolean so that we can use it in either direction.

[2020-03-27 20:26] zepumph commented on #54
- [ ] What ever is decided here should be implemented in `EnabledComponent` immediately to make sure that `this` doesn't yet have an `enabledProperty`.

[2020-03-27 21:15] pixelzoom commented on #54
I considered that when I suggested `assertHasOwnProperties` over in phetsims/sun#257, and then proposed `assertVerifyMixinProperties ` in https://github.com/phetsims/phet-core/issues/54#issuecomment-605197817.  But I think we will want an assertion failure that identifies a specific property, not just "some property already exists in host class".

[2020-03-28 17:53] samreid commented on #79
I'll need further discussion on the top paragraph in https://github.com/phetsims/phet-core/issues/79#issuecomment-599070818 or collaboration before I can proceed on this issue.

[2020-04-01 18:05] zepumph commented on #79
Today the phet-io team found a bug. We don't need to support `cacheKey`, and instead should just use the parameter type as the key itself. PropertyIO should just use its parameterType as the cache key. Then we should delete cacheKey from EnumerationIO.

[2020-04-01 23:23] jonathanolson commented on #54
So we're looking for a library function that scans a specific object's prototype to determine if it has a definition? Then ideally a helper function that will scan a list of property names and error out nicely if they exist?

I'm happy to write that and provide it, let me know.

[2020-04-09 22:41] zepumph commented on #54
@jonathanolson I think part of the appeal is to check non prototype elements to. For example making sure that `this.enabledProperty` isn't defined before EnabledComponent.initializeEnabledComponent` sets it.  I can't really think of a way to implement that in a way that isn't manual in each `initialize*` method.

Are we interested in doing this for the prototype methods too? Perhaps this could be

[2020-04-16 01:21] zepumph commented on #79
- [ ] Once this issue is complete, we can continue with https://github.com/phetsims/tandem/issues/169.

[2020-04-16 01:39] zepumph commented on #79
@samreid this issue is quite long, and ever changing, allow me to summarize and give you specifics on what to review:

**Issue Focus**
This issue has turned into discussion about using `Map` for caching. It is a bit beyond the original scope, and as a result here we should just discuss the changes thus far made to PropertyIO and EnuemrationIO and then move over to https://github.com/phetsims/tande

[2020-04-27 21:34] pixelzoom opened #83 "factor out isMergableObject"
merge.js has private function `validateMergeableObject` that contains this nice validation:

[code]

A similar test seems to be duplicated many times throughout the PhET code base. Search for getPrototypeOf shows 62 occurrences, and it looks like most of these are doing the same thing as  `validateMergeableObject ` -- type validation of `options` arg.

Would anyone object to factoring out `isMerga

[2020-04-27 21:44] pixelzoom commented on #83
I'm bailing.  Apparently all of the checks in `validateMergeableObject` need to be performed.  I'll leave this open in case someone else wants to tackle it.

[2020-04-27 21:55] pixelzoom opened #84 "merge makes many unnecessary function calls"
Noted while working on #83.

In merge.js, `validateMergableObject` consists entirely of assertions, so it does not need to be called unless assertions are enabled.

But in built versions and in unbuilt mode without `?ea`, `merge` is making multiple no-op function calls to `validateMergableObject`. `merge` contains an `_.eachLoop`, a `for in` loop, it calls `merge` recursively, and `validateMergabl

[2020-04-27 21:59] pixelzoom commented on #83
If anyone worked on this... the correct spelling is "mergeable".

[2020-04-27 22:07] pixelzoom commented on #84
Given the number of times that we call `merge`, this seemed like an important optimization.  So I went ahead and did the work in the above commit.  Tested with unbuilt (ea, no ea) and built versions.

@zepumph would you mind reviewing, since you are one of the primary authors?

[2020-04-27 22:17] pixelzoom commented on #84
Note that I also revised the assertion messages in `assertIsMergeable`:

[code]

[2020-04-27 22:24] pixelzoom commented on #84
Hmm, maybe there's more redundancy.  Isn't line 40 redundant, because `sourceProperty` will be validated by the call to `merge` on line 41?

[code]

[2020-04-27 22:40] pixelzoom commented on #84
To check whether a `source` was being validated twice, I added 2 lines around `assertIsMergeable( source )`:

[code]

... and this fails.  So this call is indeed redundant, and has been removed in the above commit.

[2020-04-28 01:46] pixelzoom commented on #84
Looks like unit tests are failing for phet-core, I'll check it out.

[2020-04-28 01:56] pixelzoom commented on #84
I restored the `assertIsMergable( sourceProperty )` that I removed in https://github.com/phetsims/phet-core/commit/759202686989c9adc60e5ea298b3132aecd5f102.  But now I'm confused, because my test in https://github.com/phetsims/phet-core/issues/84#issuecomment-620273046 indicated that call is redundant.  @zepumph can you clarify for me?

[2020-04-30 16:37] pixelzoom commented on #84
I'm going to label this issue as blocks-publication.  Since `merge` is so widely used, this work should not be deployed in a "partially done" state.

[2020-04-30 21:26] zepumph commented on #84
The errored unit test you are running into is a bit of a middle group.

In previous merge discussion we said that a source could be `undefined`, to support optional options objects, but we said, as the first point in https://github.com/phetsims/phet-info/issues/91#issuecomment-519652587, that we do not support that for `*Options` fields within options. Thus the unit tests represent the desired beh

[2020-04-30 21:32] zepumph commented on #84
@pixelzoom, please review. I simplified the assertions, taking into account that *Options objects will be validated when it is recursively merged inside line 41. Thus, the only "special" validation to give to the `*Options` fields is to make sure that they aren't `undefined`. Unlike top level sources, we do not let that occur.

Thanks for working on the redundancy here, I think all the above commi

[2020-05-05 16:06] pixelzoom commented on #84
Thanks @zepumph. Previous commit looks good. Closing.

[2020-05-05 16:06] #84 closed

[2020-05-21 17:46] jessegreenberg commented on #54
Visited this issue 5/21/20 developer meeting and still think this would be useful, particularly since a11y related code is leveraging trait/mixin pattern more.

[2020-05-21 17:49] zepumph opened #85 "Traits should use `assertHasProperties`"
Over in `EnabledComponent`, we created and used `PHET_CORE/assertHasProperties.js` to declare the dependencies a trait has on the core type it is being mixed into. It was nice and valuable, and we should use this else where.

Tagging parent issue of #54.

Here is a list of the usages of `@trait` that doesn't currently use `assertHasProperties`:

- [x] Leaf.js
- [ ] Paintable.js
- [x] AccessibleNum

[2020-05-21 18:42] zepumph commented on #71
There is a no-extend lint rule that isn't turned on. I'm not sure how hard it would be to get this going in our post es6-modules. I'll take a look.

[2020-05-21 18:45] zepumph commented on #71
This was covered by the bad-sim-text lint rule, so I deleted it.

[2020-05-26 17:59] zepumph commented on #76
Is this ready for production? I created https://github.com/phetsims/phet-core/issues/76 because it seems like the right thing to do. Please note if we should hold off until this is reviewed.

[2020-05-27 21:50] zepumph commented on #76
To support ariaOrientation, instead of just using the same property as for layout box, I added another one specifically for this purpose. That was we can easily change it if they deviate for some reason. See https://github.com/phetsims/phet-core/commit/7e5dc05564c5a1cb94e30d96a5f70f56a3697451 and let me know if that is problematic.

[2020-05-27 22:17] jonathanolson commented on #76
Everything looks good to me (patched up some JSDoc things in the above commit). Thanks!

[2020-05-27 22:17] #76 closed

[2020-05-27 22:38] zepumph commented on #85
I added these to the a11y types listed above. I see that it isn't needed for Leaf.js so I checked it off.

I wanted to add this patch to Paintable but found the Paintable is often initialized before the Node supertype is.

[code]
I see this in `Path` and `Text`. As a result the above isn't true. @jonathanolson this feels like a code smell to me. Why can Paintable, which supposedly depends on certa

[2020-05-27 23:16] jonathanolson commented on #85
Applied the swap above, that "seems" better in general. Let me know if you need anything else.

[2020-05-28 16:33] samreid commented on #54
I'd like to understand how this problem would appear when using the class-factory pattern identified in https://github.com/phetsims/phet-info/issues/143

[2020-05-28 16:35] jonathanolson commented on #54
This would be similar to the problem of "how do you know if you're overwriting a method/property with normal inheritance", which we currently don't auto-detect.

[2020-05-28 18:51] jonathanolson commented on #54
In dev meeting, we're going to put this on hold until https://github.com/phetsims/phet-info/issues/143 is completed.

[2020-05-28 20:49] zepumph commented on #85
Excellent! Thank you.

[2020-05-28 20:49] #85 closed

[2020-06-05 14:25] jonathanolson commented on #75
Looks great, thanks!

[2020-06-05 14:25] #75 closed

[2020-06-11 22:06] samreid commented on #82
This sounds like a good long-term goal, but I'm not planning to work on it in the near future.  Self-unassigning for now.

[2020-06-24 15:55] samreid commented on #79
This looks great, thanks!  I'll unblock https://github.com/phetsims/tandem/issues/169 and close this issue.

[2020-06-24 15:55] #79 closed

[2020-07-02 18:50] jbphet commented on #82
We discussed this in today's dev meeting and decided that we should convert sims from `inherit` to `class` when doing something major with them, such as adding phet-io, but not to do it proactively.  I'm going to do it for states-of-matter, but there is a separate issue for that, so I'm going to unassign myself from this one.

[2020-07-15 06:14] samreid commented on #77
I don't have any plans to work on this in the near future. Unassigning.

[2020-07-17 20:22] zepumph opened #86 "required() is being used incorrectly"
`required()` was a function created over in https://github.com/phetsims/phet-info/issues/115. There are some usages though that are weird and buggy. Searching for `: required( ` yields many cases where the function is being passed a constant value, like in `SingleBulbPhotonBeam.js`: `    phetioState: required( false )`. `false` will always not be `undefined`. This should be cleaned up. Currently t

[2020-07-28 19:04] ariel-phet commented on #86
@chrisklus is willing to tackle this issue. Might be good to do sooner than later just so it is out of the way.

[2020-08-12 15:30] chrisklus commented on #86
In the above commits I either removed the use of `required` or passed in a config value, depending on what seemed most appropriate. I tested the affected sims before and after changes in their relevant brands. Assigning to @zepumph for review.

[2020-08-18 04:55] zepumph commented on #86
Looks good to me, except https://github.com/phetsims/fractions-common/commit/5daf3de91f48786fe5b4d293942363513992a498, I'm not sure about that. Assigning to @jonathanolson to make sure and close if all is well.

[2020-12-03 21:18] samreid commented on #82
We are pursuing this in https://github.com/phetsims/tasks/issues/1051 and related issues.  Closing as duplicate.

[2020-12-03 21:18] #82 closed

[2020-12-10 21:13] zepumph opened #87 "EnumerationIO should be inlined into Enumeration.js"
It seems like this got missed during the main IOType work done a couple of months ago.

[2020-12-10 21:19] zepumph commented on #87
I just saw this doc that is in EnumerationIO:

Thanks @samreid! Closing

[2020-12-10 21:19] #87 closed

[2021-01-28 17:13] zepumph commented on #71
All that is left is a review on the sim-specific cases.

[2021-02-01 23:15] jessegreenberg commented on #43
I added a new rule for this in https://github.com/phetsims/chipper/commit/0175a8390b30ab1decd24f3f87ba74115eb4db04, and fixed the couple of places where it found this convention was not being followed. All were in testing code. Closing.

[2021-02-01 23:15] #43 closed

[2021-02-02 05:11] jonathanolson commented on #86
That commit looks good, seems like it fixes https://github.com/phetsims/fractions-common/commit/0ddc8a2f21dc7731fea01bc24d7c684b5ca5ea32. Closing.

[2021-02-02 05:11] #86 closed

[2021-02-08 18:58] jessegreenberg commented on #71
I reviewed https://github.com/phetsims/capacitor-lab-basics/commit/2493d0c8d94731f6fb21d6578151a5b78e11eec7 and HingePointNode looks good in that sim.

Usages in ESP are also good. Closing.

[2021-02-08 18:58] #71 closed

[2021-03-05 01:55] zepumph commented on #72
I would say we should just go for the lodash version. I don't care that much. @chrisklus what do you think?

[2021-04-26 19:25] samreid opened #88 "branch: typescript"
To support https://github.com/phetsims/tasks/issues/987

[2021-05-19 18:51] jonathanolson opened #89 "Poolable should expose pool size and maximum size"
In Slack:

[2021-05-19 19:20] jonathanolson commented on #89
@pixelzoom committed above, can you try it out in your code?

[2021-05-19 20:26] pixelzoom commented on #89
Implemented in Fourier, and it seems to be working as expected. See https://github.com/phetsims/fourier-making-waves/commit/0fef5870f848f8941182a1495cad92254f4764e4.

Thanks for the quick turnaround.  Anything else to do here?

[2021-05-19 21:03] jonathanolson commented on #89
Nothing else, thanks! Closing.

[2021-05-19 21:03] #89 closed

[2021-07-27 15:13] jessegreenberg opened #90 "Audit usage of navigator userAgent, appVersion, and platform"
Putting in phet-core because that is where platorm.js lives, but there are usages of these in a few places in the project.

@Nancy-Salpepi noticed this warning while testing involving a reduction in the amount of information available in the User Agent string.
![image](https://user-images.githubusercontent.com/6396244/127179509-505e47b3-e916-4ab9-97b7-581832e33848.png)

Here is information from Ch

[2021-07-27 15:32] jessegreenberg commented on #90
Just noting the parts from https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html that I found important:

Regarding timeline:

Regarding compatibility:

I don't see anything in platform.js about Chrome version number, OS version number, or Android device model. So we may be OK with this change. But adding to developer meeting to review with the team and check if anything sho

[2021-07-28 06:45] samreid commented on #90
I noted that there are numerous usages of `navigator.userAgent` outside of platform.js as well.  A few usages of `navigator.platform` elsewhere.

[2021-08-19 19:03] jessegreenberg commented on #90
Discussed 8/19/21 at developer meeting:

It doesn't seem like we are using the features of the user agent strings that are being changed. According to https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html there will be a trail version that we can test before the change goes live. When that is ready we can do some testing to make sure everything is still running OK.

@jonatha

[2021-08-25 18:17] samreid opened #91 "How will we model the types of merge?"
From https://github.com/phetsims/chipper/issues/1047.

I also noticed lodash provides types for _.merge:

Here is the merge with 4 merge sources:

[code]

But lodash gives up after 4 merge sources:

[code]

[2021-10-06 02:19] #91 closed, assigned to nobody

[2021-10-08 23:37] zepumph opened #92 "phet-core depends on Tandem"
While discussing https://github.com/phetsims/axon/issues/361, we realized that there is a problem with having an IOType in phet-core. phet-core is not supposed to have any dependencies.

@samreid and I discussed this, and felt like it was a problem, but we didn't really talk through any solutions very thoroughly.

One idea we touched on is created a new repo that is basically `phet-core-that-can-h

[2021-10-09 03:00] jonathanolson commented on #92
I'd also like to float the possibility of combining repos a bit more as standard practice. Is there a reason we want to have those two code-bases separate? I'm not aware of any needs for "I want phet-core, but not tandem"... since tandem seems core to what we're doing.

[2021-10-09 03:31] zepumph commented on #92
I guess having a separation, at least cognitively of what code is required to run PhET-iO infrastructure and what code isn't needed is getting more and more blurred by the day, but I'm not immediately excited by the idea of completely merging the two. `phet-core` to me seems like a library of items that basically serve as dependency-less, reusable, helper functions and code. `tandem` has a very cl

[2021-10-09 16:33] samreid commented on #92
It is also advantageous tracking issues for phet-core and tandem separately.  Right now the only problematic dependency is that phet-core defines EnumerationIO, which imports:

[code]

It would work to move EnumerationIO to tandem.  However, when I proposed this in https://github.com/phetsims/axon/issues/361#issuecomment-931719421 @zepumph recommended that EnumerationIO may need to be imported by

[2021-10-24 20:33] zepumph opened #128 "Typescript Convention: How to support PhET's option pattern?"

[2021-11-07 02:42] samreid opened #93 "Provide a *.d.ts file for Orientation"
Legacy Enumerations don't work well with TypeScript, see https://github.com/phetsims/chipper/issues/1106.  To ease with the transitions while we are not porting common code to TypeScript, but while we are porting simulations, it would be helpful to have a *.d.ts file to describe enumerations like Orientation.  Adding a d.ts file does not trigger dependencies to have to use TypeScript, so it seems

[2021-11-07 02:44] samreid commented on #93
Added and it seems to be working nicely, closing.

[2021-11-07 02:44] #93 closed

[2021-12-02 23:08] samreid opened #94 "Convert merge to TypeScript"
For https://github.com/phetsims/chipper/issues/1128, it seems having nice types for `merge` could help with our options pattern.  I've also considered that we may need a merge implementation that is options-specific (if merge is too general).  But @zepumph and I also made progress on a port in WilderOptionsTypeScriptTestModel.ts.

[2022-01-07 00:47] zepumph opened #95 "Rename Enumeration->EnumerationDeprecated"
This strategy has been deprecated in https://github.com/phetsims/chipper/issues/1106. We instead want to use what is currently called RichEnumeration, which will be renamed to Enumeration as part of this issue.

[2022-01-07 01:13] zepumph commented on #95
Beyond the basic renaming, here are the other thoughts that I have on this:

- ​[ ] Rename RichEnumeration-> Enumeration

- [ ] EnumerationProperty -> EnumerationDeprecatedProperty

- [ ] {Enumeration} seems buggy to me, should probably be {EnumerationDeprecated} for now, but eventually will just be the actual enumeration

- [ ] EnumerationDeprecatedIO?

- [ ] What is going on with EnumerationMap?

[2022-01-07 02:23] samreid commented on #95
I also considered the possibility that we would delete the entire old Enumeration stack and port everything to use the proposed pattern.  For instance, converting one usage in Hooke's Law took a few minutes:

<details>

[code]

</details>

If it took 5 minutes to convert each one (optimistically), that would be 5 minutes * 200 cases = 16 hours.  Maybe too long to make it part of this effort?  But

[2022-01-11 22:05] zepumph opened #96 "Rename Orienation.enum -> enumeration"
From https://github.com/phetsims/chipper/issues/1106#issuecomment-999113257

[2022-01-11 22:47] #96 closed

[2022-01-12 02:01] zepumph commented on #95
In regards to https://github.com/phetsims/phet-core/issues/95#issuecomment-1007088514, I think it is a possibility, but most likely to just convert common code and heavily used cases. It seems like a few too many usages to convert fully.

[2022-01-12 21:12] zepumph opened #97 "Handle EnumerationIO and EnumerationDeprecatedIO"
From working on renaming in https://github.com/phetsims/phet-core/issues/95

Steps for this issue:
* Both EnumerationDeprecatedIO and "RichEnumerationIO" (soon to be EnumerationIO), will have the type name `EnumerationIO`.
* Make them share or know about each other's cache, and assert that phetioDocumentation is not different if they share the same type name.
* Look into combining files to see if

[2022-01-12 23:25] zepumph opened #98 "Is EnumerationValue.isEnumerationValue still needed?"
I think this may be obsolete since adding a bit more structure to EnumerationValue. I'll take a look.

From https://github.com/phetsims/chipper/issues/1106

[2022-01-12 23:27] zepumph commented on #97
- [ ] Move this IO type to tandem from axon. It can't be in phet-core because it relies on tandem.

[2022-01-13 00:00] zepumph opened #99 "Assert if EnumerationIO instances shadow each other"
Related to work from https://github.com/phetsims/chipper/issues/1106.

[2022-01-13 00:45] zepumph commented on #97
Alright, with only a limited addition of API in EnumerationDeprecated, I was able to consolidate EnumerationIO types. There is now just a single IOType, in tandem, that both EnumerationDeprecated and Enumeration use.

[2022-01-13 00:54] zepumph commented on #98
@samreid, I didn't see any type errors here, do you think we are good to close this issue?

[2022-01-13 01:01] zepumph commented on #97
Most important for the review @samreid: will you please make sure that the changes to ts-config files are as expected. I exclusively removed include/exclude paths, but they all seemed like workarounds, so I hope all is well here!

[2022-01-13 01:03] zepumph commented on #95
This has been completed. @samreid can you please glance through this work along with everything else. Failures should most likely be pretty loud, and type checking and lint was working.

[2022-01-13 03:45] samreid commented on #98
We needed `isEnumerationValue` when `EnumerationValue` read:

[code]

So I think we may still need it.  But I tried deleting the body of EnumerationValue to try to reproduce the problem we saw before, and I couldn't recall the context.

[2022-01-13 17:05] zepumph commented on #98
I thought that name, enumeration, and sealedCache would now be enough to structurally type this unique class. I'm glad you can't reproduce the original issue. Please reopen if you have any other thoughts.

[2022-01-13 17:15] samreid commented on #98
`name` and `enumeration` are both optional, so objects without those will match the interface.  The `sealedCache` is `static` so it doesn't appear in the `EnumerationValue` interface.

[2022-01-13 17:21] zepumph commented on #98
Ahh, thanks. Yes that makes perfect sense. Reverted above. Closing.

[2022-01-13 17:21] #98 closed

[2022-01-20 17:38] zepumph commented on #99
@samreid, I made this patch, and ran fuzzing on all phet-io sims. I'm a bit nervous about this, but perhaps it would be best to know about this eagerly.

I found one error in Density/Buoyancy and one in quad, and will want to investigate. Do you have any thoughts about this assertion?

[code]

[2022-01-31 18:38] samreid opened #100 "Eliminate or reduce the requirement to put Namespace and register in every file."
In https://github.com/phetsims/tasks/issues/378 we introduced Namespace as a standard pattern to register most/all files with a global namespace.  Today when @zepumph asked how TypeScript would deal with types for those globals, I replied:

But it raised a larger discussion about the need for Namespace/register everywhere.  In circuit-construction-kit-common, there are 105 namespace import and reg

[2022-01-31 18:55] pixelzoom commented on #100
I'd like to understand why there's overhead, and whether it's really significant.   Creation of the Namespace instance (e.g. molarity.js) is handled by `grunt create-sim`.  Adding `register` calls when .js/.ts files are created should be handled by making that part of the your WebStorm Live Template for new files.  And renaming a class should presumably also rename its the `register` args without

[2022-01-31 19:07] samreid commented on #100
I recently experienced this overhead when converting to the proposed enumeration pattern.  When copy/pasting a pre-existing file from another repo, then I have to adjust the import and register statement.  It happened enough times and took long enough to be a bother.

I have not experienced significant slowdown in that part.

That's true, renaming incurs little overhead for this.

I have not been

[2022-02-01 20:57] samreid commented on #95
I spot checked a few places and didn't see any trouble.  CT hasn't indicated problems related to this.  Closing.

[2022-02-01 20:57] #95 closed

[2022-02-03 10:27] chrisklus opened #101 "Subclassing an Enumeration more than once causes a bug"
I'm experiencing a weird bug from the following Enumeration structure:

PlayObjectType is a base type with values DOG, APPLE, BUTTERFLY, and BALL.
CountingObjectType is a subclass of PlayObjectType that adds the value PAPER_NUMBER.
These two live in counting-common, but are also imported into number-play.

SubitizeObjectType is also a subclass of PlayObjectType that adds the value CIRCLE.
This is

[2022-02-03 15:06] zepumph commented on #101
Hello! Thanks for the bug report. I cannot seem to reproduce this though.

I put debugger statements after creation of the Enumeration subtypes, and see that their `enumeration` instance, and available static keys were all correct.

I then put a debugger at Subitzer:193 and checked both of them again on the namespace. Counting* has CIRCLE, and Subitizer* has PAPER_NUMBER. It wasn't clear to me if

[2022-02-03 15:07] zepumph commented on #101
Also, this has the blocking-sim label on it, but it is in common code. Please change to blocks-publication and or mention what sims are blocked by this bug.

[2022-02-03 16:58] zepumph commented on #101
Looks like my transpiler hadn't caught up since your commit. I'll take another look.

[2022-02-03 17:05] chrisklus commented on #101
I suppose my commit above makes this not blocking, since CountingObjectType can conveniently be reused in it's place (just the wrong name). Removing label.

Thanks for taking a look, let me know if you are still can't reproduce.

[2022-02-03 17:11] zepumph commented on #101
Ok, even with the new commits, I can't seem to find the bug. It would probably be good to find some time to discuss this, and have you drive.

[2022-02-03 17:11] zepumph commented on #101
Ignore the above comment, I didn't see https://github.com/phetsims/phet-core/issues/101#issuecomment-1029204885 come in.

[2022-02-03 17:40] zepumph commented on #101
Ok. I have finally been able to reproduce the bug (I think).

1. Revert https://github.com/phetsims/number-play/commit/dfe4ab05f65cdef1cde0da25fad212e9c18350fc
2. Debugger on CompareModel:37
3. Open in dev tools and see that CountingObjectType has the right values, as it should, but leftCountingObjectTypeProperty.validValues is pointing to the SubitizeObjectType items (CIRCLE).

I'll take a look a

[2022-02-03 17:49] zepumph commented on #101
We are getting the instance of the Enumeration from the value, which doesn't work well with subtypes:

https://github.com/phetsims/axon/blob/6219ae176f5fa0056aef625ff163dd7c5ffc4aa4/js/EnumerationProperty.ts#L28

Notice that the value is from the supertype, so the enumeration instance is different.

From this, I would recommend not supporting subtyping enumerations. It is too clever. Would it work

[2022-02-04 00:03] zepumph opened #102 "Improvement on Enumeration subtyping pattern"
Tagging https://github.com/phetsims/chipper/issues/1106. Over in https://github.com/phetsims/phet-core/issues/101, @chrisklus reported a strange bug that has to do with mutating EnumerationValue instances depending on what Enumeration they are part of. We recommend a couple of changes to the pattern.

Basically we need to make sure that MyEnumeration.SOME_VALUE.enumeration is always of type MyEnum

[2022-02-04 00:17] zepumph commented on #102
- [ ] I feel like we could go one step further with this commit and add a setter for enumeration that assert if trying to be set when already non null.

[2022-02-09 05:07] jonathanolson opened #103 "Poolable TypeScript refactoring"
I've finally got Poolable in a state where it can work with seemingly all of the constraints. I'll collect commits here and ask for a review.

[2022-02-09 05:12] jonathanolson commented on #103
@zepumph would you be able to review or discuss? If it looks good, I'd like to convert more things over (since this was the blocking pattern for Vector2).

Also, proper TS of Action and Emitter seem like the most helpful thing next.

[2022-02-09 19:57] zepumph commented on #103
I think we should really take into account https://github.com/phetsims/phet-io/issues/1543. We were going to totally refactor those two classes, but I haven't had time to do it.

[2022-02-09 20:58] zepumph commented on #103
I don't like how we have to typecast the options arg. I don't think we should need to do this, but I can't understand what's different about this usage of optionize that it doesn't think that defaultArguments has been filled in. My best guess is the `as unknown as ConstructorParameters<Type>`. But I made a wilder example (8), and it didn't fail just because it was an generic, even when I added my

[2022-02-09 21:01] zepumph commented on #103
I also tried this, but it didn't really work.

`defaultArguments: ( class TempClass {} ).prototype.constructor.arguments,`

[2022-02-09 21:06] zepumph commented on #103
Maybe you can get farther than I did with my example, but I was running into problems trying to duplicate the issue in wilder:

<details>

[code]

[2022-02-10 00:30] zepumph commented on #102
Should be complete by the end of next week for Number Play.

[2022-02-16 02:13] pixelzoom opened #104 "Missing doc in optionize.ts"
optionize.ts is missing summary documentation at the top of the file, and `@author` annotation.

[2022-02-16 16:54] zepumph commented on #102
@chrisklus you should be all good here. I also wrote unit tests to ensure some behavior. Please note that when subtyping, you really cannot trust or use EnumerationValue.enumeration. As a result, I would recommend coding around that, probably just using MySubtypeEnumeration.enumeration always (as a static), and not `value => value.enumeration`.

Please review, and we can pick up the conversation o

[2022-02-17 19:09] zepumph commented on #103
@jonathanolson ping me if you would like to pair. I'm happy to spend some time here.

[2022-02-18 20:40] samreid commented on #104
@zepumph how do you think we should document optionize.ts and WilderOptionsPatterns.ts?

[2022-02-18 21:11] zepumph commented on #104
Hows that for now? One of the topics for https://github.com/phetsims/chipper/issues/1128 is to update the design patterns document, so I think of this as temporary.

[2022-02-18 22:35] chrisklus commented on #102
Thanks @zepumph! Everything done in this issue looks great. I am still running into an issue when using my enum subtype with EnumerationProperty. I think it is related to the additional validation done with the phetioType, since that is still using `value.enumeration`:

[code]

Maybe `enumeration` could be an option to EnumerationProperty?

Here is a patch to reproduce:

<details>

[code]

[2022-02-19 04:04] pixelzoom commented on #104
Doc looks good to me. Fixed one capitalization error in the above commit.  Closing.

[2022-02-19 04:04] #104 closed

[2022-02-23 15:58] zepumph commented on #102
I did not apply your patch, but I added some unit tests. Is this what you were thinking?!

[2022-02-24 07:29] pixelzoom opened #105 "Should `optionize` 2nd argument really default to `{}` ?"
In WilderOptionsPattern.ts:

[code]

This case keeps biting me, due to what feels like unnecessary duplication. Why does the second arg (SelfOptions) need to default to `{}`?  Is there a reason why it can't default to the value of the first arg? So that the above is simply:

[code]

[2022-02-24 07:53] pixelzoom opened #106 "`optionize` doesn't recognize when defaults are provided for required superclass options."
I'm wondering if `optionize`is working correctly in a specific use case.  My superclass has `provideOptions` that are all required.   My subclass provides values for those superclass options.  Here's an example:

[code]

The call to `super( options )` gets flagged as a TypeScript error:

[code]

I can only resolve the error by enumerating ALL of the superclass' required options as the 4th type var

[2022-02-24 08:00] pixelzoom commented on #106
P.S.  While the above example only has 2 required options in the constructor, my real cases have more options, and the duplication is consequently uglier, and more of a pain point to keep in-sync.  For example in Lens.ts:

[code]

[2022-02-24 08:03] pixelzoom commented on #106
Would it be possible to harvest the keys from `defaults` and automatically add them to the `KeysUsedInSubclassConstructor` type variable?  So if you provided a value for a key in `default`, you wouldn't need to duplicate that key again in `KeysUsedInSubclassConstructor`.

[2022-02-24 15:28] zepumph commented on #105
It is buggy for the second arg to be the same as the first if there are any parent optional options. If that is the case, then by defaulting the self options to the providedOptions, it will require you to fill in defaults for all optional options from your parents as well.

Since the majority of cases in the project will occur in subtypes with parent options, I'm hesitant to make this change. Does

[2022-02-24 16:12] pixelzoom commented on #105
I don't follow how that it relevant to this use case.  `ParentOptions` is the 3rd type argument to `optionize`, and is `{}` in this use case.  So there cannot possibly be any "parent optional options".

[2022-02-24 16:17] pixelzoom commented on #105
Here's an example in GO LensShapes.ts:

[code]

There is no superclass involved. All that I'm doing is filling in default values.  Why is it necessary to specify `LensShapeOptions` twice in `optionize<LensShapesOptions, LensShapesOptions>`?

[2022-02-24 16:41] zepumph commented on #105
I don't mean the 3rd arg, which we don't need to discuss in this part, I mean when any options from the parent are part of the providedOptions type.

RE your code in https://github.com/phetsims/phet-core/issues/105#issuecomment-1050023378:

Yes, exactly. You gave the perfect example of the side where self options could default to providedOptions. Here is the spot where it could be confusing:

[cod

[2022-02-24 16:45] pixelzoom commented on #105
Boy am I confused.   I'm trying to get at a case where there are no parent options.   And in the example in the previous comment:

[code]

Why would you do that?  That seems just plain wrong wrong. There are no SelfOptions, and there are ParentOptions, so it should be:

[code]

[2022-02-24 17:05] zepumph commented on #106
Yes, this sounds like "Limitation I":

https://github.com/phetsims/wilder/blob/5bb2fd7da11a72d30acac3e06548d7b65d1a8b4e/js/wilder/model/WilderOptionsPatterns.ts#L51-L52

Am I right about that? I think this is one of the top two items I would want to improve on optionize, but I don't know when I will get to it.

[2022-02-24 17:11] pixelzoom commented on #106
Yes, you're correct:

[2022-02-24 17:12] pixelzoom commented on #106
Yes, you're correct:

So...  I should live with the duplication for now, and we close this issue?

[2022-02-24 18:18] zepumph commented on #105
So I think this is probably correct, but it is a behavior change that I think is worth a PSA about. @pixelzoom please review, and note the changes to Ratio and Proportion and Center and Spread in simple usages of optionize. Do you still agree with this change?

[2022-02-24 19:37] zepumph commented on #106
Yes, I think so, just add a comment about how you have to get around Limitation (III) (defined in WilderOptionsPatterns).

Hopefully one day we will be able to fix this problem with optionize. It is documented as part of the work still to do in https://github.com/phetsims/chipper/issues/1128.

[2022-02-24 22:54] zepumph commented on #103
@jonathanolson and I were able to discuss a new Poolable pattern on Monday. @jonathanolson committed it and I believe is feeling pretty good about it. @jonathanolson, does this still block publication? Can this issue be closed?

[2022-02-25 02:57] pixelzoom commented on #105
Slack:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [11:25 AM](https://phetsims.slack.com/archives/D6E41BT17/p1645727104504239)
I don’t understand why an explict {} had to be added for SelfOptions in some cases, like in RatioHandNode.ts:
```const options = optionize<PathOptions,{}>```

[Michael Kauzmann](https://app.slack.com/team/U6DFWDG1Z)  [11:25 AM](https://phetsims.slack.com/archive

[2022-02-25 03:51] samreid commented on #94
We added sensible typing for `merge`, closing.

[2022-02-25 03:51] #94 closed

[2022-02-25 15:17] pixelzoom commented on #106
Why does this involve Limitation (III).  I thought I was working around Limitation (I)?

[2022-02-25 15:19] pixelzoom commented on #106
Why does this involve Limitation (III).  I thought I was working around Limitation (I)?

It sounds to me like we should add an example to WilderOptionsPatterns, showing how to workaround Limitation (I).  And that example could be something like https://github.com/phetsims/phet-core/issues/106#issue-1148970245. @zepumph do you agree?

[2022-02-25 15:43] zepumph commented on #106
Oops, yes limitation (I), sorry, I was working with Limitation (III) in another case yesterday.

I agree about the example. I'll write it up. Thanks!

[2022-02-25 15:55] zepumph commented on #106
How's that?

[2022-02-25 15:56] zepumph commented on #106
Also please note https://github.com/phetsims/phet-core/blob/5404829dac3a4d0929db100ee6a7a5a8b948348b/js/optionize.ts#L46

[2022-02-25 18:43] pixelzoom commented on #106
👍🏻

[2022-02-25 18:43] #106 closed

[2022-02-25 21:47] pixelzoom opened #107 "Rename Defaults to OptionizeDefaults."
In optionize.ts:

[code]

This name is too general. Let's rename to `OptionizeDefaults`.

[2022-02-25 22:00] zepumph commented on #107
How about `DefaultOptions`

[2022-02-25 22:20] pixelzoom commented on #107
`DefaultOptions` is still too general imo. Defaults for what? `OptionizeDefaults` is only 3 chars longer..

The documentation for Defaults says that's it's the defaults for optionize:

[code]

... so why not name it as such?

[2022-02-25 23:55] pixelzoom commented on #107
Here's a typical example from geometric-optics (FocalLengthControl.ts) for context:

[code]

[2022-02-27 17:59] samreid opened #108 "Create ReqOpt type"
From https://github.com/phetsims/phet-io/issues/1843

If we had `WithOptional` and `WithRequired`, combinations would be unwieldy:

[code]

How about one type that can do both?

[code]

The options 2nd arg could default to `never` so you could use it to promote to required things easily:

[code]

Demoting something to optional would be more awkward because of the `never`.

[code]

If we like this

[2022-02-28 22:15] zepumph commented on #107
I like OptionizeDefaults, thanks for talking it through with me. Please review.

[2022-02-28 23:41] pixelzoom commented on #107
👍🏻 closing

[2022-02-28 23:41] #107 closed

[2022-03-02 19:59] jonathanolson commented on #103
Added Pool.ts above. It gets rid of the mixin handling for pooling. This seems like the best pattern, and the IDE can detect createFromPool parameter names. It's not too much boilerplate and seems to simplify things. It also works just fine with abstract supertypes. See SVGLinearGradient for an example usage, it's basically:

1. Optionally add `implements IPoolable`
2. Add the equivalent of:

[cod

[2022-03-02 23:41] zepumph commented on #103
I wrote this line at the end of SVGLinearGradient:

[code]

And it errored with:
[code]

Really great stuff! I love it. I would argue that this is less boilerplate than the javascript mixin. Anything else for this issue?

[2022-03-03 18:31] pixelzoom opened #109 "RequiredOptions.ts duplicates PickRequired.ts"
RequiredOptions.ts looks like it duplicates PickRequired.ts.   We had a long discussion about it (and its name) in https://github.com/phetsims/phet-io/issues/1843, and decided on PickRequired.ts and PickOptional.ts.

Recommended to delete  RequiredOptions.ts.

[2022-03-03 19:39] pixelzoom commented on #109
We discussed this in 3/3/2022 dev meeting, and they are in fact different.  I update the doc in RequiredOption.ts to clarify.

But the name is still misleading.  It returns the _type_ of an option, and it doesn't even need to be a required option (as demonstrated by the example in the doc.)  Should it be renamed to something like `TypeOfOption` or `OptionType`?

[2022-03-03 19:43] pixelzoom commented on #109
It looks like there's another problem with RequiredOption.ts.  You can list multiple option names and it doesn't complain. Example:

[code]

[2022-03-03 23:48] zepumph commented on #103
Is this issue still blocking publication?

[2022-03-05 17:48] samreid commented on #108
I wrote up a variation on this proposal in https://github.com/phetsims/phet-info/issues/187#issuecomment-1059804244.  Let's discuss that first before working further on this issue.

[2022-03-05 18:23] pixelzoom commented on #108
Sorry, I'm not a fan of the `SparseExtends` proposal. I see no clear pros, and several cons. See https://github.com/phetsims/phet-info/issues/187#issuecomment-1059807464.

[2022-03-08 01:26] zepumph opened #111 "Can merge overwrite `undefined` please?"
With typescript I think we can make an improvement to our merge implementation.

Here is an example using the current implementation:

[code]

I wish that it filled in `'has a value'` for `options.something`.

Here is why it could be nice:

[code]

Basically using composition in subtypes means you have to either redefine the default or accept that undefined may be the value after the composed type

[2022-03-08 18:57] pixelzoom commented on #105
@zepumph and I discussed my remaining questions via Zoom - thanks!   I'm happy with where this is at, and understand what's going on.  So closing.

[2022-03-09 18:52] samreid opened #112 "Should PickRequired and PickOptional have a default export?"
While reviewing https://github.com/phetsims/phet-io/issues/1543, I was surprised see that this didn't work:

[code]

Instead, I see examples like:

[code]

Is this by intention?  Is this a new precedent?

[2022-03-09 19:02] pixelzoom commented on #112
types cannot be default exports, is my understanding, because they are removed by tsc.  And any non-default import will be surrounded by `{ … }`.

[2022-03-09 19:15] pixelzoom commented on #112
In Slack, @samreid established that this works:

[code]

This does not work, so is an exception to our ability to "export where defined", as was recently added to TypeScript code conventions.

[code]

[2022-03-09 19:20] pixelzoom commented on #112
This is a holdover from the `export` convention that originally appeared in typescript-conventions.md, which said that types were NOT to be a default export:

combined into 1 `export` statement. So a .ts file should have at most 2 `export` statements. For example:

[code]

[2022-03-09 19:40] samreid commented on #112
Yes, but that convention does not apply since we are not exporting multiple modules.  8 out of the 10 types declared in phet-core/types are using `export default` for a type.  2 are not.  We should choose which we prefer and be consistent.

[2022-03-09 19:41] samreid opened #113 "IntentionalAny should move to types/"
IntentionalAny should move to types/

[2022-03-09 19:45] samreid commented on #113
Fixed and notified slack, closing.

[2022-03-09 19:45] #113 closed

[2022-03-09 20:16] pixelzoom commented on #112
I was not justify the pattern, I was explaining why it's not currently a default export.

5 minutes to change export to default + 10 minutes to investigate failing axon unit tests that prevented committing + 15 minutes to fix my working copy that got totally messed up when commits failed + 5 minutes to visit each affected repo and manually push.

PickRequired and PickOptional are now default expor